:host {
  display: inline-block;
}

// stylelint-disable a11y/media-prefers-reduced-motion
@media screen and (prefers-reduced-motion: reduce) {
  .fw-field-editor-delete {
    transition: none;
  }
}

.fw-field-editor {
  min-width: 180px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  outline: 0;
  background-color: $color-milk;
  border: 1px solid $color-smoke-100;
  border-radius: 8px;
  overflow: hidden;

  .fw-field-editor-header {
    width: 100%;
    height: 48px;
    padding: 8px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color: $color-milk;
    cursor: pointer;

    .fw-field-editor-drag-container {
      width: 24px;
      height: 100%;
      margin-right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;
      cursor: move; /* fallback if grab cursor is unsupported */
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
    }

    .fw-field-editor-icon-container {
      width: 24px;
      height: 24px;
      margin-right: 8px;
      pointer-events: none;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }

    .fw-field-editor-label {
      width: auto;
      margin: 0;
      pointer-events: none;
      user-select: none;
      text-align: left;

      color: $color-elephant-900;
      font-size: $font-size-14;
      font-weight: $font-weight-400;

      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .fw-field-editor-body {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: $color-milk;
    display: none;

    .fw-field-editor-content {
      width: 100%;
      height: auto;
      min-height: 72px;
      padding: 20px 32px;
      display: flex;
      box-sizing: border-box;
      background-color: $color-smoke-25;
      border-top: 1px solid #eceff2;
      border-bottom: 1px solid #eceff2;

      .fw-field-editor-content-required {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .fw-field-editor-content-required-label {
          width: 100%;
          height: 20px;
          margin: 0;
          pointer-events: none;
          user-select: none;
          text-align: left;
          line-height: 20px;

          color: $color-smoke-700;
          font-size: $font-size-12;
          font-weight: $font-weight-600;
        }
        .fw-field-editor-content-required-label:after {
          content: ' *';
          color: red;
        }

        .fw-field-editor-content-required-input {
          width: 100%;
          height: 32px;
          border-radius: 4px;
        }

        .fw-field-editor-content-checkboxes {
          width: 100%;
          height: 32px;
          margin-top: 18px;
          box-sizing: border-box;
          display: flex;
          gap: 60px;

          .fw-field-editor-content-checkbox-input {
            color: #ff0000;
            font-weight: $font-weight-500;
          }

          // input[type='checkbox'] {
          //   & + label {
          //     color: $color-elephant-900;
          //     font-weight: $font-weight-500;
          //   }
          // }
        }
      }
    }

    .fw-field-editor-footer {
      width: 100%;
      height: 72px;
      padding: 0;
      padding-right: 40px;
      gap: 12px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      box-sizing: border-box;
      background-color: $color-milk;
    }

    .fw-field-editor-delete {
      width: 24px;
      height: 24px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      box-sizing: border-box;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &:hover {
    .fw-field-editor-delete {
      opacity: 1;
    }
  }

  &:focus {
    .fw-field-editor-delete {
      opacity: 1;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &--expanded {
    box-shadow: 0px 0px 1px rgba(24, 50, 71, 0.3),
      0px 2px 8px rgba(22, 29, 37, 0.15);

    .fw-field-editor-header {
      cursor: unset;
      border-radius: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;

      .fw-field-editor-drag-container {
        pointer-events: none;
        user-select: none;
        cursor: unset;
        opacity: 0;
      }
    }

    .fw-field-editor-body {
      display: flex;
      flex-direction: column;
    }
  }
}
