/**
  @prop --fw-menu-item-background: Border of the fw-menu-item popover content.
  @prop --fw-menu-item-border: Border of the fw-menu-item popover content.
  @prop --fw-menu-item-box-shadow: Box Shadow of the fw-menu-item popover content.
  @prop --fw-menu-item-border-radius: Border Radius of the fw-menu-item popover content.
  @prop --fw-menu-item-margin-bottom: Margin bottom of the fw-menu-item popover content.
  @prop --fw-menu-item-font-size: Font size of the fw-menu-item popover content.
  @prop --fw-menu-item-line-height: Line height of the fw-menu-item popover content.
  @prop --fw-menu-item-selected-background: Background of the selected menu item.
*/

.menu-item {
  cursor: pointer;
  display: flex;
  padding: 6px 8px;
  margin-bottom: var(--fw-menu-margin-bottom, 4px);
  font-size: var(--fw-menu-item-font-size, $font-sm);
  line-height: var(--fw-menu-item-line-height, $font-lh-sm);
  align-items: center;
  background: var(--fw-menu-item-background, $color-neutral-100);
  border: var(--fw-menu-item-border);
  box-shadow: var(--fw-menu-item-box-shadow);
  border-radius: var(--fw-menu-item-border-radius);
  word-break: break-word;
  word-wrap: break-word;

  &:hover {
    background-color: $color-secondary-50;
  }
  &:focus {
    background-color: $color-secondary-50;
    outline: $color-info-800 auto 1px;
  }

  .menu-item__label {
    flex: 1 1 auto;
  }

  .menu-item__prefix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    ::slotted(*) {
      margin-right: 8px;
    }
  }

  .menu-item__suffix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    ::slotted(*) {
      margin-left: 8px;
    }
  }

  .menu-item__check {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
  }

  &.selected {
    font-weight: $font-weight-600;
    background-color: var(--fw-menu-item-selected-background, $color-azure-50);
    &:hover,
    &:focus {
      background-color: var(
        --fw-menu-item-selected-background,
        $color-azure-50
      );
    }

    .menu-item__check {
      visibility: visible;
    }
  }
}
