/**
  @prop --fw-pill-color: Pill color
  @prop --fw-pill-background-color: Pill background color
  @prop --fw-pill-padding: Pill padding
  @prop --fw-pill-border: Pill border
  @prop --fw-pill-border-radius: Pill border radius
*/

:host {
  --fw-pill-border: none;
  --fw-pill-border-radius: 16px;
  --fw-pill-padding: 5px 12px 5px 8px;
  --fw-pill-color: #{$color-secondary-700};
  --fw-pill-background-color: #{$color-secondary-50};
}

.pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--fw-pill-color);
  background-color: var(--fw-pill-background-color);
  padding: var(--fw-pill-padding);
  border: var(--fw-pill-border);
  border-radius: var(--fw-pill-border-radius);
  font-weight: $font-weight-600;
  font-size: $font-size-12;
  line-height: 1.5; // TODO: follow DSM

  ::slotted(*) {
    height: 14px;
    width: 14px;
  }

  .pill-icon {
    height: 14px;
    width: 14px;
    margin-right: 6px;
  }

  ::slotted(fw-icon) {
    --fw-icon-size: 14px;
    --fw-icon-color: #{$color-secondary-700};
  }

  &--blue {
    background-color: $color-info-50;
    color: $text-info;

    ::slotted(fw-icon) {
      --fw-icon-color: #{$color-info-800};
    }
  }

  &--red {
    background-color: $color-danger-50;
    color: $text-danger;

    ::slotted(fw-icon) {
      --fw-icon-color: #{$color-danger-800};
    }
  }

  &--green {
    background-color: $color-success-50;
    color: $text-success;

    ::slotted(fw-icon) {
      --fw-icon-color: #{$color-success-800};
    }
  }

  &--yellow {
    background-color: $color-warning-50;
    color: $text-warning;

    ::slotted(fw-icon) {
      --fw-icon-color: #{$color-warning-700};
    }
  }

  &--grey {
    background-color: $color-secondary-50;
    color: $text-secondary;

    ::slotted(fw-icon) {
      --fw-icon-color: #{$color-secondary-700};
    }
  }
}
