// mixin for common form error label
@mixin form-error-label {
  display: block;
  pointer-events: none;
  user-select: none;
  text-align: start;
  margin-block-start: 4px;
  margin-inline-start: 2px;

  color: $app-error;
  font-weight: $font-weight-default;
  font-size: $font-size-12;
  line-height: 20px;
  height: 20px;
}

// mixin for all the input labels with ::after set to asterisk
@mixin form-required-asterisk {
  content: '*';
  inset-block-start: 2px;
  font-size: 14px;
  color: $app-error;
  padding-inline-start: 2px;
  font-weight: $font-weight-bold;
}

@mixin form-error-label-without-margin {
  @include form-error-label;
  margin: 0;
}

// mixin for single line ellipsis style
@mixin single-line-ellipsis-label {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
