<button class=class {...props}> 
	<slot></slot>
</button>
<style>
  :host([disabled]) {
  cursor: not-allowed;
     pointer-events: none;
  }
  
  .primary:not(disabled){
  outline: none;
  width: 86px;  
  height: 32px;
  border:none;
  box-sizing: border-box;
  box-shadow: 0 1px 0 0 rgba(24, 50, 71, 0.12);
  background-image: linear-gradient(to bottom, #12344d, #001f36);
  font-family: SFProText;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  color: #ffffff;
  border-radius: 5px;
  }

  .primary:hover {
  cursor: pointer;
  background:#001f36;
  }
  .primary:active{
  outline : none;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
 opacity :0.9;
  }
  .primary:focus{
    width: 89px;
    height:34px;
    border-radius: 5px;
   border: 1px solid  rgba(0, 112, 227, 0.6) ;
   box-shadow: 0px 0px 0px 1px #fff inset;
  }
  .primary:disabled {
  background: #dadfe3;
  cursor: not-allowed;
  color : #6f7c87;
  opacity:0.5;
  }
  .secondary{
  width: 99px;
  height: 32px;
  outline:none; 
  border:none;
  box-shadow: 0 1px 0 0 rgba(24, 50, 71, 0.05);
  border: 1px solid #dadfe3;
  border-radius:5px;
  background-image: linear-gradient(to bottom, #ffffff, #f3f5f7);
  font-family: SFProText;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.38;
  color: #183247;
  }
  .secondary:hover{
    width: 101px;
    cursor: pointer;
    box-shadow: 0 1px 0 0 rgba(24, 50, 71, 0.05);
    background: #f3f5f7
  }
  .secondary:active{
    width: 101px;
    box-shadow: inset 0 1px 2px 0 rgba(24, 50, 71, 0.2);
    background-color: #f3f5f7;
    color: #6f7c87;
  }
  .secondary:focus{
    width: 101px;
    background-image: linear-gradient(to bottom, #ffffff, #f3f5f7);
    color: #183247;
    border:2px solid rgba(0, 112, 227, 0.6);
  }
</style>

<script>
  export default {
    tag: "fw-button",
    props: ["disabled", "type", "class","name","size"],
    computed: {
      props: state => {
        Object.keys(state).forEach(key => {
          state[key] = state[key] === "" ? key : state[key];
        });
        return state;
      }
    }
  };
</script>