.modal-footer-container {
  padding: 12px 16px;
  box-sizing: border-box;
  height: 56px;
  background-color: #f3f5f7;
  border-radius: 0 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: none;

  fw-button {
    margin-left: 12px;
  }
}
