.modal-footer-container {
  padding-inline: 16px;
  padding-block: 12px;
  box-sizing: border-box;
  height: 56px;
  background-color: $color-smoke-25;
  border-end-start-radius: 4px;
  border-end-end-radius: 4px;
  border-start-end-radius: 0;
  border-start-start-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: none;

  fw-button {
    margin-inline-start: 12px;
  }
}
