dist/
storybook-dist/
www/
loader/
coverage/
src/.vuepress/public/build/
docs-dist/

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

component.d.ts
custom-elements.d.ts
custom-elements.json
yarn-lock.json