@import "../../styles/freshworks";

//=== Button Style ===//
:root {
  --btn-primary-color: var(--color-milk);
  --btn-primary-bg: var(--color-elephant-800);
  --btn-primary-bg-dark: var(--color-elephant-900);
  --btn-primary-border: var(--color-elephant-900);
  --btn-primary-border-active: var(--color-elephant-800);

  --btn-secondary-color: var(--text-default);
  --btn-secondary-bg: var(--color-milk);
  --btn-secondary-bg-dark: var(--color-smoke-25);
  --btn-secondary-border: var(--border-color);
  --btn-secondary-border-active: var(--color-smoke-50);

  --btn-danger-color: var(--color-milk);
  --btn-danger-bg: var(--color-persimmon-800);
  --btn-danger-bg-dark: var(--color-persimmon-900);
  --btn-danger-border: var(--color-persimmon-900);

  --btn-link-color: var(--color-azure-800);
  --btn-link-bg: var(--color-smoke-50);

  --active-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  //=== Button Style===//
}

.fw-btn {
  font-size: var(--font-size-14);
  line-height: var(--font-size-14);
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  color: var(--btn-primary-bg);
  cursor: pointer;
  transition: all 0.2s linear;
  letter-spacing: 0.3px;
  font-weight: var(--font-weight-500);
  min-width: 90px;
  height: 32px;

  &:focus {
    border: 1px solid var(--color-azure-800);
    box-shadow: 0 0 0 1px var(--color-azure-800);
    outline: none;
  }

  &:active {
    box-shadow: var(--active-box-shadow);
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &--primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-color);
    border: 1px solid var(--btn-primary-border);
    background-image: linear-gradient(to bottom, var(--btn-primary-bg), var(--btn-primary-bg-dark));

    &:active {
      border: 1px solid var(--btn-primary-border-active);
    }

    &:hover:not([disabled]) {
      background-color: var(--btn-primary-bg-dark);
      background-image: none;
    }
  }

  &--secondary {
    background-color: var(--btn-secondary-bg-dark);
    color: var(--btn-secondary-color);
    border: 1px solid var(--btn-secondary-border);
    background-image: linear-gradient(to bottom, var(--btn-secondary-bg), var(--btn-secondary-bg-dark));

    &:active {
      border: 1px solid var(--btn-secondary-border-active);
    }

    &:hover:not([disabled]) {
      background-color: var(--btn-secondary-bg-dark);
      background-image: none;
    }
  }

  &--danger {
    color: var(--btn-danger-color);
    background-color: var(--btn-danger-bg);
    border: 1px solid var(--btn-danger-border);
    background-image: linear-gradient(to bottom, var(--btn-danger-bg), var(--btn-danger-bg-dark));

    &:hover:not([disabled]) {
      background-color: var(--btn-danger-bg-dark);
      background-image: none;
    }
  }

  &--link {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    color: var(--btn-link-color);

    &:hover:not([disabled]) {
      background-color: var(--btn-link-bg);
      border-color: var(--btn-link-bg);
    }
  }

  &--text {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    color: var(--btn-primary-bg);

    &:hover:not([disabled]) {
      background-color: var(--btn-link-bg);
      border-color: var(--btn-link-bg);
    }
  }

  &--block {
    width: 100%;
    display: block;
  }

  &--mini {
    padding: 2px 2px;
    font-size: var(--font-size-10);
    line-height: var(--font-size-10);
    min-width: 16px;
    height: 16px;
  }

  &--small {
    padding: 4px 6px;
    font-size: var(--font-size-12);
    line-height: var(--font-size-12);
    min-width: 16px;
    height: 24px;
  }

  &--icon {
    min-width: 32px;
    width: 32px;
    padding: 0;
  }
}
