@import "../../styles/freshworks";

/**
  @prop --dropdown-min-height: Dropdown minimum height in pixels
  @prop --dropdown-min-width: Dropdown minimum width in pixels
  @prop --dropdown-max-height: Dropdown maximum height in pixels
  @prop --dropdown-max-width: Dropdown maximum width in pixels
  @prop --dropdown-font-size: Dropdown item font size in pixels
*/

//=== Button Style ===//
:host {
  --btn-primary-color: var(--color-milk);
  --btn-primary-bg: var(--color-elephant-800);
  --btn-primary-bg-dark: var(--color-elephant-900);
  --btn-primary-border: var(--color-elephant-900);
  --btn-primary-border-active: var(--color-elephant-800);

  --btn-secondary-color: var(--text-default);
  --btn-secondary-bg: var(--color-milk);
  --btn-secondary-bg-dark: var(--color-smoke-25);
  --btn-secondary-border: var(--border-color);
  --btn-secondary-border-active: var(--color-smoke-50);

  --btn-danger-color: var(--color-milk);
  --btn-danger-bg: var(--color-persimmon-800);
  --btn-danger-bg-dark: var(--color-persimmon-900);
  --btn-danger-border: var(--color-persimmon-900);

  --btn-link-color: var(--color-azure-800);
  --btn-link-bg: var(--color-smoke-50);

  --bg-color-hover: var(--color-smoke-50);

  --active-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  //=== Button Style===//

  //* Dropdown style variables *//
  --dropdown-min-height: 70px;
  --dropdown-min-width: 160px;
  --dropdown-max-height: 200px;
  --dropdown-max-width: 480px;
  --dropdown-font-size: var(--font-size-14);
  //* Dropdown style variables *//
}

@mixin small {
  padding: 4px 6px;
  font-size: var(--font-size-12);
  line-height: var(--font-size-12);
  min-width: 16px;
  height: 24px;
}

@mixin mini {
  padding: 2px 2px;
  font-size: var(--font-size-10);
  line-height: var(--font-size-10);
  min-width: 16px;
  height: 16px;
}

@mixin primary {
  background-color: var(--btn-primary-bg);
  color: var(--btn-primary-color);
  border: 1px solid var(--btn-primary-border);
  background-image: linear-gradient(to bottom, var(--btn-primary-bg), var(--btn-primary-bg-dark));

  &:active {
    border: 1px solid var(--btn-primary-border-active);
  }

  &:hover:not([disabled]) {
    background-color: var(--btn-primary-bg-dark);
    background-image: none;
  }
}

@mixin secondary {
  background-color: var(--btn-secondary-bg-dark);
  color: var(--btn-secondary-color);
  border: 1px solid var(--btn-secondary-border);
  background-image: linear-gradient(to bottom, var(--btn-secondary-bg), var(--btn-secondary-bg-dark));

  &:active {
    border: 1px solid var(--btn-secondary-border-active);
  }

  &:hover:not([disabled]) {
    background-color: var(--btn-secondary-bg-dark);
    background-image: none;
  }
}

@mixin danger {
  color: var(--btn-danger-color);
  background-color: var(--btn-danger-bg);
  border: 1px solid var(--btn-danger-border);
  background-image: linear-gradient(to bottom, var(--btn-danger-bg), var(--btn-danger-bg-dark));

  &:hover:not([disabled]) {
    background-color: var(--btn-danger-bg-dark);
    background-image: none;
  }
}

@keyframes dropdown-fade {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  50% {
    opacity: 0.7;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.btn-container {
  display: flex;
  position: relative;

  .fw-btn {
    font-size: var(--font-size-14);
    line-height: var(--font-size-14);
    padding: 6px 12px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: 0;
    color: var(--btn-primary-bg);
    cursor: pointer;
    transition: all 0.2s linear;
    letter-spacing: 0.3px;
    font-weight: var(--font-weight-500);
    min-width: 90px;
    height: 32px;

    &:focus {
      border: 1px solid var(--color-azure-800);
      box-shadow: 0 0 0 1px var(--color-azure-800);
      outline: none;
    }

    &:active {
      box-shadow: var(--active-box-shadow);
    }

    &.disabled,
    &[disabled] {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &--primary {
      @include primary;
    }

    &--secondary {
      @include secondary;
    }

    &--danger {
      @include danger;
    }

    &--link {
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      color: var(--btn-link-color);

      &:hover:not([disabled]) {
        background-color: var(--btn-link-bg);
        border-color: var(--btn-link-bg);
      }
    }

    &--text {
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      color: var(--btn-primary-bg);

      &:hover:not([disabled]) {
        background-color: var(--btn-link-bg);
        border-color: var(--btn-link-bg);
      }
    }

    &--block {
      width: 100%;
      display: block;
    }

    &--mini {
      @include mini;
    }

    &--small {
      @include small;
    }

    &--icon {
      min-width: 32px;
      width: 32px;
      padding: 0;
    }

    &.dropdown-btn {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .dropdown-state {
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 30px;
    height: 30px;

    .state-icon {
      padding: 5px 10px;
    }

    &--primary {
      @include primary;
    }

    &--secondary {
      @include secondary;
    }

    &--danger {
      @include danger;
    }
  }

  .dropdown-menu {
    background-color: #fff;
    min-width: var(--dropdown-min-width);
    max-width: var(--dropdown-max-width);
    min-height: var(--dropdown-min-height);
    max-height: var(--dropdown-max-height);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    box-shadow: rgba(0, 0, 0, 0.176) 0 6px 12px 0;
    box-sizing: border-box;
    overflow-y: scroll;
    list-style: none;
    border: 1px solid rgba(0, 0, 0, 0.15);
    animation: dropdown-fade 0.15s;
    display: none;
    z-index: 999;

    &--open {
      display: block;
    }

    &--search {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .dropdown-item {
      padding: 5px 25px 8px 10px;
      color: var(--btn-secondary-color);
      font-size: var(--dropdown-font-size);
      font-weight: var(--font-weight-500);
      cursor: pointer;
      background: transparent;
      border-radius: 5px;

      &:hover {
        background: var(--bg-color-hover);
      }
    }

    .searchable-item {
      margin-left: 5px;
      display: flex;

      .dropdown-item {
        cursor: default;
        padding-top: 0;
        padding-bottom: 10px;
        padding-left: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }

    .search-btn-grp {
      margin-top: 5px;
      display: flex;

      fw-button {
        margin-right: 5px;
        cursor: pointer;
      }
    }
  }
}
