{#if type=="checkbox"}
<label class="container">{label}
  <input class="fw-input" {...props} > 
  <span class="checkmark"></span>
</label>
{:else}
    {#if label}
    <label>{label}</label> <br> {/if}
    <input class="fw-input" {...props} > 
    <slot></slot>
 {/if}   
<style>
:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
label{
  width: 64px;
  height: 20px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
  color: #475867;
}

.fw-input {
  width: 200px;
  height: 32px;
  box-sizing: border-box;
  border: none;
  border:#cfd7df 1px solid;
  box-shadow: inset 0 1px 2px 0 rgba(24, 50, 71, 0.05);
  border-radius: 5px;
  padding: 6px 12px;
 }

.fw-input::placeholder {
  width: 176px;
  height: 20px;
  font-size: 14px;
  line-height: 1.43;
  color: #92a2b1; 
 } 

 input[type="search"]{
  background-image: url("/searchicon.png") ;
  background-repeat: no-repeat;
  background-position: 7px 7px;
  background-size: 20px 20px;
  padding-left: 30px;
 }
 /* 
 .container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  width: 112px;
  height: 20px;
  font-family: SFProText;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  color: #12344d;
  padding-left: 31px;
 }

.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}



.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border :1px solid #6c7684;
  box-sizing: border-box;
  border-radius:2px;
}


input[type="checkbox"]:hover ~ .checkmark {
 border :2px solid #6f7c87
}

.container input[type="checkbox"]:focus ~ .checkmark {
  border :2px solid #2e6ed8
}



.container input[type="checkbox"]:checked ~ .checkmark {
  background-color: #2e6ed8;
  border:none;
  box-shadow: none;
}
.container input[type="checkbox"]:checked:hover ~ .checkmark {
  background-color: #003792;
  border: none;
}
.container input[type="checkbox"]:checked:focus  ~ .checkmark{
  border:2px solid #ffffff;
  box-shadow: 0 0 0 2pt #2e6ed8;
  top:3px;
  left:0px;
}

.container input[type="checkbox"]:disabled ~ .checkmark{
  box-shadow: inset 0 1px 2px 0 #f7f9fa;
  border: solid 1px #cfd7df;
  background-color: #ebeef0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

 .container .checkmark:after {
  top: 2px;
    left: 5px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} */
.fw-input:hover
{
border: solid 1px #475867;
}

.fw-input:focus
{
 outline:none;
border: solid 2px #2c5cc5;
}
.fw-input:invalid
{
 border : solid 1px #d72d30;
}
.fw-input:disabled 
{
  pointer-events: none;
  background: #cfd7df;
  cursor : auto;
}

</style>

<script>
  export default {
    tag: "fw-input",
  props: ["max","min","pattern","readonly","required","size","step","title","name","id","value","label","disabled","maxlength","placeholder","type"],
  computed: {
      props: state => {
      // console.log(Object);
        Object.keys(state).forEach(key => {
          state[key] = state[key] === "" ? key : state[key];
        });
        return state;
      } 
      
    },
   
  };

</script>