$primary-color: $color-elephant-900;
$selected-color: $color-azure-800;
$disabled-color: $color-smoke-300;
$bg-color: $color-azure-50;
$bg-color-hover: $color-smoke-50;
$bg-color-disabled: $color-smoke-25;

.select-center {
  display: flex;
  align-items: center;
}

.select-option {
  cursor: pointer;
  display: flex;
  align-items: center;
  color: $primary-color;
  font-size: $font-size-14;
  border-radius: 4px;
  list-style: none;
  line-height: 1.45;
  word-break: break-word;
  word-wrap: break-word;
  position: relative;
  margin-bottom: 4px;
  padding-right: 8px;

  &.single-line {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  &.multi-line {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &.standard {
    padding-left: 0px;
  }

  &.icon {
    padding-left: 10px;
  }

  &.avatar {
    padding-left: 4px;
  }

  &.selected {
    font-weight: $font-weight-600;
    background-color: $dropdown-selected;
    &:hover,
    &:focus {
      background-color: $dropdown-selected;
    }
  }

  &:hover {
    background-color: $bg-color-hover;
  }
  &:focus {
    background-color: $bg-color-hover;
    outline: $color-azure-800 auto 1px;
  }

  &.disabled {
    color: $disabled-color;
    position: relative;
    cursor: not-allowed;
    background-color: $bg-color-disabled;
  }

  .description {
    display: flex;
    flex-direction: column;

    &-text {
      font-weight: $font-weight-600;
    }
    &-subText {
      font-weight: $font-weight-400;
      font-size: $font-size-12;
      color: $color-smoke-700;
    }

    &.icon-margin {
      margin-left: 18px;
    }

    &.standard-margin {
      margin-left: 12px;
    }
  }

  .selected-icon {
    min-width: 24px;
    min-height: 24px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // FIX: To center the icon inside the host
  fw-icon {
    align-items: center;
    display: flex;
  }
}
