.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 8px;
  padding-inline-start: 16px;
  padding-block-end: 12px;
  padding-inline-end: 16px;
  padding-block-start: 12px;
  background: #ffffff;
  border: 1px solid rgba(207, 215, 223, 0.4);
  box-shadow: 0px 1px 4px rgba(18, 52, 77, 0.16);
  box-sizing: border-box;
  border-radius: 4px;

  .action-items {
    margin-inline-start: 12px;
  }

  .sort-label {
    font-size: 14px;
    margin-inline-start: 16px;
    color: #465789;
    font-weight: 400;
  }

  #selectAll {
    width: 16px;
  }

  &-suffix,
  &-prefix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    ::slotted(*) {
      margin-inline-start: 8px;
    }
  }
}

.table {
  border: 1px solid rgba(207, 215, 223, 0.4);
  border-end-start-radius: 0px;
  border-end-end-radius: 0px;
  border-start-end-radius: 4px;
  border-start-start-radius: 4px;
  box-shadow: 0px 1px 4px rgba(18, 52, 77, 0.16);
}
