$toggle-on-bg: #2c5cc5;

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle-switch {
  position: relative;
  display: inline-block;

  &.small {
    width: 28px;
    height: 12px;
  }

  &.medium {
    width: 36px;
    height: 16px;
  }

  &.large {
    width: 44px;
    height: 20px;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .slider {
      transition: none;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background: $toggle-off-bg;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  @media screen and (prefers-reduced-motion: reduce) {
    .before {
      transition: none;
    }
  }

  .before {
    position: absolute;
    content: '';
    width: 45%;
    height: 65%;
    left: 4px;
    bottom: 3px;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 $toggle-btn-shadow;
    background-color: $app-secondary-btn;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;

    fw-icon {
      color: $toggle-off-bg;
    }
  }

  .slider.small {
    width: 28px;
    height: 12px;

    .before {
      width: 16px;
      height: 16px;
      left: 0;
      bottom: -2px;
      border: solid 1px #647a8e;

      &:hover,
      &:focus {
        box-shadow: 0 0 4px 4px rgba(87, 108, 125, 0.3);
      }
      fw-icon {
        transform: scale(0.5);
      }
    }
  }

  .slider.medium {
    width: 36px;
    height: 16px;

    .before {
      width: 20px;
      height: 20px;
      left: 0;
      bottom: -2px;
      border: solid 1px #647a8e;

      &:hover,
      &:focus {
        box-shadow: 0 0 4px 4px rgba(87, 108, 125, 0.3);
      }

      fw-icon {
        transform: scale(0.6);
      }
    }
  }

  .slider.large {
    width: 44px;
    height: 20px;

    .before {
      width: 24px;
      height: 24px;
      left: 0;
      bottom: -2px;
      border: solid 1px #647a8e;

      &:hover,
      &:focus {
        box-shadow: 0 0 5px 5px rgba(87, 108, 125, 0.3);
      }

      fw-icon {
        transform: scale(0.75);
      }
    }
  }

  input {
    display: none;
  }

  input:checked + .slider {
    background-color: $toggle-on-bg;
  }

  input:checked + .slider.small {
    .before {
      -webkit-transform: translateX(12px);
      -ms-transform: translateX(12px);
      transform: translateX(12px);
      border: solid 1px #2c5cc5;

      fw-icon {
        color: #2c5cc5;
      }

      &:hover,
      &:focus {
        box-shadow: 0 0 3px 3px rgba(40, 61, 165, 0.3);
      }
    }
  }

  input:checked + .slider.medium {
    .before {
      -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
      transform: translateX(16px);
      border: solid 1px #2c5cc5;

      fw-icon {
        color: #2c5cc5;
      }

      &:hover,
      &:focus {
        box-shadow: 0 0 4px 4px rgba(40, 61, 165, 0.3);
      }
    }
  }

  input:checked + .slider.large::before {
    .before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
      border: solid 1px #2c5cc5;

      fw-icon {
        color: #2c5cc5;
      }

      &:hover,
      &:focus {
        box-shadow: 0 0 5px 5px rgba(40, 61, 165, 0.3);
      }
    }
  }

  input:disabled + .slider {
    opacity: 0.4;
    cursor: not-allowed;
  }
}
