@import "../../styles/freshworks";

:host {
  --label-font: var(--font-stack);
  --input-bg: var(--color-milk);
  --help-color: var(--color-smoke-300);
  --error-color: var(--color-persimmon-800);
  --input-color: var(--color-elephant-900);
  --input-disabled-bg: var(--color-smoke-25);
  --input-hover-color: var(--color-smoke-700);
  --input-focus-color: var(--color-azure-800);
  --input-border: var(--color-smoke-100);
  --warning-color: var(--color-casablanca-100);
}

@mixin stateStyle($_color) {
  & > textarea {
    border-color: $_color;
  }

  & > textarea:focus {
    box-shadow: none;
    border-color: $_color;
  }

  & > textarea:hover {
    border-color: $_color;
  }

  & + .help-block {
    color: $_color;
  }
}

.textarea-container {
  margin-bottom: 16px;
}
// Label Style
label {
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-500);
  color: var(--color-elephant-900);
  margin-bottom: 0;
  padding-bottom: 4px;
  padding-left: 2px;
  display: block;

  &.required::after {
    content: "*";
    position: relative;
    display: inline-block;
    top: 2px;
    font-size: var(--font-size-14);
    color: var(--error-color);
    padding-left: 2px;
  }
}

// textarea Container Style
.textarea-container-inner {
  display: block;
  width: 100%;
  position: relative;

  textarea {
    border: 0;
    border: 1px solid var(--input-border);
    margin: 5px 0 0;
    border-radius: 4px;
    padding: 4px 12px 5px;
    background-color: var(--input-bg);
    box-shadow: none;
    min-height: 24px;
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-500);
    letter-spacing: 0;
    line-height: 20px;
    cursor: text;
    display: inline-block;

    &:hover {
      border: 1px var(--input-hover-color) solid;
      transition: 0.2s linear;
    }

    &:focus {
      outline: none;
      background: var(--input-bg);
      border: 1px solid transparent;
      box-shadow: 0 0 0 2px var(--input-focus-color);
    }

    &[disabled] {
      color: var(--color-smoke-50);
      background-color: var(--input-disabled-bg);
      border-style: solid;

      &:hover {
        border: 1px solid var(--input-border);
        cursor: not-allowed;
      }
    }
  }

  //Help Block
  & + .help-block {
    font-size: var(--font-size-12);
    margin-top: 3px;
    color: var(--help-color);
    position: inherit;
    margin-bottom: 0;
    display: block;
    padding-left: 2px;
  }

  &.error {
    @include stateStyle(var(--error-color));
  }

  &.warning {
    @include stateStyle(var(--warning-color));
  }
}

::placeholder {
  color: var(--color-smoke-300);
  opacity: 1;
}

:-ms-input-placeholder {
  color: var(--color-smoke-300);
}

::-ms-input-placeholder {
  color: var(--color-smoke-300);
}
