@import "../../styles/theme";
$tab-active: $app-primary;
$tab-link: $app-muted-grey;

.tabs {
  &__items {
    height: 40px;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  &__item {
    float: left;
    position: relative;

    a {
      text-decoration: none;
      color: $tab-link;
    }

    &__nav {
      margin: 0 12px;
      line-height: 40px;
      color: $tab-link;
      position: relative;
      overflow: hidden;
      display: block;
      padding: 0 6px;
      font-size: $default-content-size;
      -webkit-font-smoothing: antialiased;
      font-weight: $font-weight-semibold;

      &:hover::after {
        opacity: 0.3;
        background: $grey;
      }

      &.active {
        color: $tab-active;
        font-weight: $font-weight-semibold;

        .app-icon {
          fill: $tab-active;
        }

        &::after {
          opacity: 1;
          background: $tab-active;
        }
      }

      &.disabled {
        cursor: not-allowed;
      }
    }

    &__nav::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background: $tab-active;
      content: '';
      transition: height transform 0.5s;
      opacity: 0;
      border-radius: 3px 3px 0 0;
    }
  }

  &__content {
    clear: both;
    float: none;

    &__pane {
      display: none;
      padding-top: 5px;

      &.active {
        display: block;
      }

      &--fade {
        opacity: 0;
        transition: opacity 0.15s linear;

        &.in {
          opacity: 1;
        }
      }
    }
  }
}
