// common variables used across form builder styles
$form-builder-basic-details-max-width: 600px;
$form-builder-field-editor-max-width: 990px;
$form-builder-field-editor-element-max-width: 70%;

$form-builder-vertical-gap: 24px;
$form-builder-padding-sides: 28px;
$form-builder-name-margin-bottom: 8px;

$form-builder-field-details-padding-left: 32px;
$form-builder-field-details-padding-right: 32px;

$form-builder-field-editor-border-radius: 8px;
