/**
  @prop --fw-tab-padding-tb: padding top/bottom for tab item.
  @prop --fw-tab-padding-lr: padding left/right for the tab item.
  @prop --fw-tab-color: color of the text inside tab.
  @prop --fw-tab-weight: font weight of the text inside tab.
  @prop --fw-tab-weight-active: font weight of the text inside tab when tab is active.
  @prop --fw-tab-margin-tb: margin top/bottom of the tab item.
  @prop --fw-tab-margin-lr: margin left-right of the tab item.
  @prop --fw-tab-top-radius: top left/right radius of the tab item.
  @prop --fw-tab-background: background color of the tab item.
  @prop --fw-tab-background-active: background of the tab item when tab is active.
  @prop --fw-tab-border-color: border color of the tab item.
  @prop --fw-tab-border-color-hover: border color of the tab item on hover.
  @prop --fw-tab-border-color-active: border color of the tab item when tab is active.
  @prop --fw-tab-color-active: color of the text inside tab when tab is active.
  @prop --fw-tab-border-size: size of the border bottom.
*/

.tab {
  display: inline-flex;
  white-space: nowrap;
  cursor: pointer;
  align-items: center;
  padding: var(--fw-tab-padding-tb, 10px) var(--fw-tab-padding-lr, 8px);
  font-size: $font-sm;
  line-height: $font-lh-sm;
  color: var(--fw-tab-color, $text-secondary);
  font-weight: var(--fw-tab-weight, $font-weight-400);
  margin: var(--fw-tab-margin-tb, 0px) var(--fw-tab-margin-lr, 4px);
  border-radius: var(--fw-tab-top-radius, 0px) var(--fw-tab-top-radius, 0px) 0px
    0px;
  background: var(--fw-tab-background, transparent);
  padding-bottom: var(--fw-tab-padding-tb, 8px);
  border-bottom: var(--fw-tab-border-size, 2px) solid
    var(--fw-tab-border-color, transparent);

  /* stylelint-disable */
  &:hover:not(.disabled) {
    padding-bottom: var(--fw-tab-padding-tb, 8px);
    border-bottom: var(--fw-tab-border-size, 2px) solid
      var(--fw-tab-border-color-hover, $color-secondary-300);
  }

  &.active:not(.disabled) {
    padding-bottom: var(--fw-tab-padding-tb, 8px);
    border-bottom: var(--fw-tab-border-size, 2px) solid
      var(--fw-tab-border-color-active, $color-info-800);
    color: var(--fw-tab-color-active, $text-info);
    font-weight: var(--fw-tab-weight-active, $font-weight-600);
    background: var(--fw-tab-background-active, transparent);
  }

  &.disabled {
    cursor: not-allowed;
    color: $text-disabled;
  }

  &:focus {
    outline: none;
    border-bottom: none;
    box-shadow: none;

    &::after {
      outline: none;
      border-radius: 2px;
      box-shadow: inset 0 0 0 2px $color-info-800;
    }
  }
}

::slotted(a) {
  text-decoration: none;
  color: $text-secondary;
}
