:host {
  --fw-popover-border-radius: 4px;
}

.tooltip {
  color: $color-milk;
  background: $color-elephant-900;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  padding-inline: 8px;
  padding-block: 6px;
  max-width: 236px;
  overflow: visible;
  overflow-wrap: anywhere;
  word-break: break-word;
  white-space: initial;
}
