body {
  font-family: 'System stack', sans-serif;
}

h1, h2 {
  font-wuight: 700;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

.prev,
.next {
  font-size: 20px;
  font-weight: 700;
  a {
    font-size: 20px;
    font-weight: 700;
  }
}

.search-box {
  order: 1;
  margin-right: 0;
  margin-left: 1rem;

  .suggestions {
    left: auto !important;
    right: 0 !important;
  }
}

.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable){
  opacity: 1 !important;
  font-size: 15.2px;
  cursor: pointer !important;
}

.version-table {
  display:flex;
  flex-wrap: wrap;

  table {
    margin-right: 30px;

    th, td {
      width:180px;
    }

    tr {
      border: none;
    }

    tbody {
      display: flex;
      flex-direction: column;
      height: 278px;
      overflow: auto;
    }
  }
}