:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.label {
  color: #6f7c87;
  border: 1px solid #dadfe3;
  background-color: #fff;
  font-weight: 600;
  font-size: 11px;
  padding: 0 5px;
  line-height: 1.5;
  display: inline-block;
  border-radius: 2px;
}
.primary {
  background-color: #e5f2fd;
  color: #2c5cc5;
  border: 1px solid #bbdcfe;
}
.success{
  background-color: #e1f5f0;
  color: #2a8d71;
  border: 1px solid #d4efe9;
}
.warning {
  background-color: #fef1e1;
  color: #cc5d40;
  border: 1px solid #fde8cf;
}
.danger {
  background-color: #ffecf0;
  color: #c82124;
  border: 1px solid #ffd0d6;
}
.secondary {
  background-color: #ebeff3;
  color: #5d6972;
  border: 1px solid #ebeff3;
}