@import "../../styles/theme";

$label-font: $font-stack-sans !default;
$placeholder-color: $muted-secondary;
$help-color: $muted-secondary;
$error-color: $app-error;
$input-border: #cfd7df;
$input-hover-color: #475867;
$input-focus-color: #2c5cc5;
$input-bg: #fff;
$input-color: $app-primary-black;
$disabled-color: $input-border;

:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@mixin stateStyle($_color) {
  & > input {
    border-color: $_color;
  }

  & > input:focus {
    box-shadow: none;
    border-color: $_color;
  }

  & > input:hover {
    border-color: $_color;
  }

  & + .help-block {
    color: $_color;
  }
}

// Label Style
label {
  font-size: 12px;
  color: $label-default;
  font-weight: $font-weight-semibold;
  margin-bottom: 0;
  padding-bottom: 4px;
  padding-left: 2px;
  display: block;

  &.required::after {
    content: "*";
    position: relative;
    display: inline-block;
    top: 2px;
    font-size: 14px;
    color: $app-error;
    padding-left: 2px;
    font-weight: $font-weight-bold;
  }
}

// Input Container Style
.input-container-inner {
  display: block;
  width: 100%;
  position: relative;

  input {
    width: 100%;
    border: 0;
    border: 1px solid $input-border;
    margin: 5px 0 0;
    border-radius: 4px;
    padding: 4px 12px 5px;
    resize: none;
    background-color: $app-light-bg;
    box-shadow: none;
    min-height: 24px;
    font-size: 12px;
    font-weight: $font-weight-semibold;
    letter-spacing: 0;
    line-height: 20px;
    color: $input-color;
    box-sizing: border-box;
    cursor: default;
    display: inline-block;
    font-family: inherit;

    &:hover {
      border: 1px $input-hover-color solid;
      transition: 0.2s linear;
    }

    &:focus {
      outline: none;
      background: $input-bg;
      background-color: $app-light-bg;
      border: 1px solid transparent;
      box-shadow: 0 0 0 2px $input-focus-color;
    }

    &[disabled] {
      color: $disabled-color;
      background-color: $input-disabled-bg;
      border-style: solid;
      pointer-events: none;

      &:hover {
        border: 1px solid $input-border;
      }
    }
  }

  &.error {
    @include stateStyle($error-color);
  }

  &.warning {
    @include stateStyle($warning-message-marker);
  }
}

.select-container {
  margin-bottom: 16px;

  ul {
    max-height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 8px;
    list-style: none;
    margin: 0;
    border-radius: 4px;
    margin-top: 2px;
    display: none;
    position: absolute;
    z-index: 1;
    background: white;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: 0 2px 18px 0 rgba(18, 52, 77, 0.16), 0 2px 4px 0 rgba(18, 52, 77, 0.06);
    box-shadow: 0 2px 18px 0 rgba(18, 52, 77, 0.16), 0 2px 4px 0 rgba(18, 52, 77, 0.06);
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
  }

  .dropdown-status-icon {
    position: absolute;
    display: inline-block;
    right: 12px;
    content: '';
    top: 45%;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-style: inherit;
    border-top: 1px solid #12344d;
    border-right: 1px solid #12344d;
    border-left: transparent;
    transform: rotate(135deg);
  }

  //Help Block
  .help-block {
    font-family: $label-font;
    font-size: 11px;
    margin-top: 3px;
    color: $help-color;
    position: inherit;
    margin-bottom: 0;
    display: block;
    padding-left: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .dropdown-status-icon.expanded {
    transform: rotate(315deg);
  }
}

::-webkit-input-placeholder {
  color: $muted-secondary;
}

::-moz-placeholder {
  color: $muted-secondary;
}

:-ms-input-placeholder {
  color: $muted-secondary;
}

:-moz-placeholder {
  color: $muted-secondary;
}
