/**
  @prop --fw-button-min-width: minimum width for the button
  @prop --fw-button-label-vertical-padding: vertical padding for the button label
  @prop --fw-button-height: The height of the normal button.
  @prop --fw-button-small-height: The height of the small button.
  @prop --fw-button-border-radius: The border radius of the button.
  @prop --fw-button-font-weight: The font weight of the button.
  @prop --fw-button-font-size: The font size of the normal button.
  @prop --fw-button-small-font-size: The font size of the small button.
  @prop --fw-button-normal-line-height: Line height of the normal button.
  @prop --fw-button-small-line-height: Line height of the small button.
  @prop --fw-button-primary-border: The border color of the primary button.
  @prop --fw-button-primary-border-active: The border color of the primary button on active state.
  @prop --fw-button-primary-bg: The background color of the primary button.
  @prop --fw-button-primary-bg-dark: The background color of the primary dark button.
  @prop --fw-button-primary-color: The text color of the primary button.
  @prop --fw-button-primary-disabled-color: The text color of the primary disabled button.
  @prop --fw-button-primary-disabled-border: The border color of the primary disabled button.
  @prop --fw-button-primary-disabled-bg: The background color of the primary disabled button.
  @prop --fw-button-primary-disabled-bg-dark: The background color of the primary disabled dark button.
  @prop --fw-button-secondary-border: The border color of the secondary button.
  @prop --fw-button-secondary-border-active: The border color of the secondary button on active state.
  @prop --fw-button-secondary-bg: The background color of the secondary button.
  @prop --fw-button-secondary-bg-dark: The background color of the secondary dark button.
  @prop --fw-button-secondary-color: The text color of the secondary button.
  @prop --fw-button-secondary-disabled-color: The text color of the secondary disabled button.
  @prop --fw-button-secondary-disabled-border: The border color of the secondary disabled button.
  @prop --fw-button-secondary-disabled-bg: The background color of the secondary disabled button.
  @prop --fw-button-active-box-shadow: Box shadow of active button.
  @prop --fw-button-secondary-spinner-color: Spinner color of the secondary button.
*/

//=== Button Style ===//
$btn-primary-color: var(--fw-button-primary-color, $color-neutral-100);
$btn-primary-bg: var(--fw-button-primary-bg, $color-primary-800);
$btn-primary-bg-dark: var(--fw-button-primary-bg-dark, $color-primary-900);
$btn-primary-border: var(--fw-button-primary-border, $color-primary-900);
$btn-primary-border-active: var(
  --fw-button-primary-border-active,
  $color-primary-800
);
$btn-primary-disabled-bg: var(
  --fw-button-primary-disabled-bg,
  $color-secondary-300
);
$btn-primary-disabled-bg-dark: var(
  --fw-button-primary-disabled-bg-dark,
  $color-secondary-400
);
$btn-primary-disabled-color: var(
  --fw-button-primary-disabled-color,
  rgba(255, 255, 255, 0.5)
);
$btn-primary-disabled-border: var(
  --fw-button-primary-disabled-border,
  $color-secondary-400
);

$btn-secondary-color: var(--fw-button-secondary-color, $color-primary-900);
$btn-secondary-bg: var(--fw-button-secondary-bg, $color-neutral-100);
$btn-secondary-bg-dark: var(--fw-button-secondary-bg-dark, $color-secondary-25);
$btn-secondary-border: var(--fw-button-secondary-border, $color-secondary-100);
$btn-secondary-border-active: var(
  --fw-button-secondary-border-active,
  $color-secondary-50
);
$btn-secondary-disabled-bg: var(
  --fw-button-secondary-disabled-bg,
  $color-secondary-50
);
$btn-secondary-disabled-border: var(
  --fw-button-secondary-disabled-border,
  $color-secondary-100
);
$btn-secondary-disabled-color: var(
  --fw-button-secondary-disabled-color,
  $color-secondary-300
);

$btn-danger-color: $color-neutral-100;
$btn-danger-bg: $color-danger-800;
$btn-danger-bg-dark: $color-danger-900;
$btn-danger-border: $color-danger-900;
$btn-danger-disabled-bg: $color-danger-200;
$btn-danger-disabled-bg-dark: $color-danger-300;
$btn-danger-disabled-color: rgba(255, 255, 255, 0.5);

$btn-link-color: $color-info-800;
$btn-link-bg: $color-secondary-50;

$active-box-shadow: var(
  --fw-button-active-box-shadow,
  inset 0 0 4px 0 rgba(0, 0, 0, 0.25)
);
$btn-lg-focus-border: $color-info-800;

$btn-default-font-size: var(--fw-button-font-size, $font-sm);
$btn-small-font-size: var(--fw-button-small-font-size, $font-xs);
$btn-mini-font-size: $font-2xs;

$btn-font-weight: var(--fw-button-font-weight, $font-weight-600);

$btn-border-width: 1px;
$input-height-small: var(--fw-button-small-height, $font-lh-base);
$input-height-normal: var(--fw-button-height, 32px);
$input-height-mini: 16px;

// stylelint-disable a11y/media-prefers-reduced-motion
@media screen and (prefers-reduced-motion: reduce) {
  .fw-btn,
  .fw-btn--label,
  .fw-btn--loader {
    transition: none;
  }
}

:host {
  display: inline-block;
  width: auto;
  cursor: pointer;
}

.fw-btn {
  display: inline-flex;
  align-content: center;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  border-style: solid;
  border-width: $btn-border-width;
  font-weight: $btn-font-weight;
  font-family: inherit;
  text-decoration: none;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0;
  // transition: all 0.2s ease-in;
  cursor: inherit;
  letter-spacing: 0;
  outline: 0;
  border-radius: var(--fw-button-border-radius, 4px);
  --fw-icon-color: currentColor;

  .fw-btn--label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
  }

  &:active:not(.fw-btn--loading) {
    box-shadow: $active-box-shadow;
  }

  &:focus {
    border: 1px solid $btn-lg-focus-border;
    box-shadow: 0 0 0 1px $btn-lg-focus-border;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  &--primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    border-color: $btn-primary-border;
    background-image: linear-gradient(
      to bottom,
      $btn-primary-bg,
      $btn-primary-bg-dark
    );

    &:active {
      border-color: $btn-primary-border-active;
    }

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $btn-primary-bg-dark;
      background-image: none;
    }

    &.disabled,
    &[disabled] {
      background-image: linear-gradient(
        180deg,
        $btn-primary-disabled-bg 4.39%,
        $btn-primary-disabled-bg-dark 94.46%
      );
      border-color: $btn-primary-disabled-border;
      color: $btn-primary-disabled-color;
    }
  }

  &--secondary {
    background-color: $btn-secondary-bg-dark;
    color: $btn-secondary-color;
    border-color: $btn-secondary-border;
    background-image: linear-gradient(
      to bottom,
      $btn-secondary-bg,
      $btn-secondary-bg-dark
    );

    &:active {
      border-color: $btn-secondary-border-active;
    }

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $btn-secondary-bg-dark;
      background-image: none;
    }

    &.disabled,
    &[disabled] {
      background: $btn-secondary-disabled-bg;
      border-color: $btn-secondary-disabled-border;
      color: $btn-secondary-disabled-color;
    }

    .fw-btn--loader {
      --fw-spinner-color: var(
        --fw-button-secondary-spinner-color,
        currentColor
      );
    }
  }

  &--danger {
    color: $btn-danger-color;
    background-color: $btn-danger-bg;
    border-color: $btn-danger-border;
    background-image: linear-gradient(
      to bottom,
      $btn-danger-bg,
      $btn-danger-bg-dark
    );

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $btn-danger-bg-dark;
      background-image: none;
    }

    &.disabled,
    &[disabled] {
      background-image: linear-gradient(
        to bottom,
        $btn-danger-disabled-bg,
        $btn-danger-disabled-bg-dark
      );
      border-color: $btn-danger-disabled-bg-dark;
      color: rgba($color-milk, 0.5);
    }
  }

  &--link {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    color: $btn-link-color;
  }

  &--text {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    color: $btn-primary-bg;

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $btn-link-bg;
    }
  }

  &--primary,
  &--danger {
    .fw-btn--loader {
      --fw-spinner-color: currentColor;
    }
  }

  &--text,
  &--link {
    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      border-color: $btn-lg-focus-border;
      box-shadow: 0 0 0 1px $btn-lg-focus-border;
    }

    &.disabled,
    &[disabled] {
      opacity: 0.5;
    }
  }

  &--mini {
    height: 16px;
    line-height: calc(#{$input-height-mini} - #{$btn-border-width} * 2);

    .fw-btn--label {
      font-size: $btn-mini-font-size;
    }

    fw-spinner {
      transform: scale(0.5);
    }
  }

  // DS button specification for mini has been referenced within crayons as type small
  &--small {
    height: $input-height-small;
    line-height: var(
      --fw-button-small-line-height,
      calc(#{$input-height-small} - #{$btn-border-width} * 2)
    );

    .fw-btn--label {
      font-size: $btn-small-font-size;
    }

    fw-spinner {
      transform: scale(0.75);
    }
  }

  &--normal {
    min-width: var(--fw-button-min-width, 80px);
    height: $input-height-normal;
    line-height: var(
      --fw-button-normal-line-height,
      calc(#{$input-height-normal} - #{$btn-border-width} * 2)
    );

    .fw-btn--label {
      font-size: $btn-default-font-size;
    }
  }

  &--icon {
    min-width: 32px;
    width: 32px;
    height: $input-height-normal;
    padding: 0;
    line-height: calc($input-height-normal - #{$btn-border-width} * 2);
  }

  &--icon-small {
    min-width: 24px;
    width: 24px;
    height: $input-height-small;
    padding: 0;
    line-height: calc($input-height-small - #{$btn-border-width} * 2);
  }
}

.fw-btn--before,
.fw-btn--after,
.fw-btn--caret {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.fw-btn--normal ::slotted(fw-icon) {
  --fw-icon-size: 12px;
}

.fw-btn--small ::slotted(fw-icon) {
  --fw-icon-size: 10px;
}

.fw-btn--mini ::slotted(fw-icon) {
  --fw-icon-size: 8px;
}

// Padding and Spacing
// stylelint-disable
$sizes: 'normal' 12px 8px, 'small' 8px 6px, 'mini' 6px 4px;
// stylelint-enable

@each $className, $labelOnlySize, $innerOnlySize in $sizes {
  .fw-btn--has-label.fw-btn--#{$className} .fw-btn--label {
    padding: 0 var(--fw-button-label-vertical-padding, #{$labelOnlySize});
  }

  .fw-btn--has-before.fw-btn--#{$className} {
    padding-left: #{$innerOnlySize};
  }

  .fw-btn--has-before.fw-btn--#{$className} .fw-btn--label {
    padding-left: #{$innerOnlySize};
  }

  .fw-btn--has-after.fw-btn--#{$className},
  .fw-btn--caret.fw-btn--#{$className} {
    padding-right: #{$innerOnlySize};
  }

  .fw-btn--has-after.fw-btn--#{$className} .fw-btn--label,
  .fw-btn--caret.fw-btn--#{$className} .fw-btn--label {
    padding-right: #{$innerOnlySize};
  }
}

.fw-btn--caret fw-icon {
  --fw-icon-size: 9px;
}

.fw-btn--caret.fw-btn--mini fw-icon {
  --fw-icon-size: 6px;
}

// Loading button implementation
.fw-btn--loading {
  position: relative;
  cursor: wait;

  .fw-btn--label,
  .fw-btn--before,
  .fw-btn--after,
  .fw-btn--caret {
    opacity: 0;
  }

  .fw-btn--loader {
    opacity: 1;
    line-height: 0;
  }
}

.fw-btn--label,
.fw-btn--loader {
  transition: opacity 0.3s ease-out;
}

.fw-btn--loader {
  opacity: 0;
  position: absolute;
  font-size: $font-base;
  height: 1em;
  width: 1em;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  margin-top: -1px;
  margin-left: -1px;
}

/*
   * Button groups support a variety of button types (e.g. buttons with tooltips, buttons as dropdown triggers, etc.).
   * This means buttons aren't always direct descendants of the button group, thus we can't target them with the
   * ::slotted selector. To work around this, the button group component does some magic to add these special classes to
   * buttons and we style them here instead.
*/

:host(.fw-button-group__button--first:not(.fw-button-group__button--last))
  .fw-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:host(.fw-button-group__button--inner) .fw-btn {
  border-radius: 0;
  border-left: 0;
}

:host(.fw-button-group__button--last:not(.fw-button-group__button--first))
  .fw-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
