/**
  @prop --fw-inline-msg-icon-display: display of inline message icon - flex/block
*/

:host {
  margin: 0;
}

.alert {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: $radius;
  box-sizing: border-box;
  margin: inherit;
  padding: 8px 6px;
  background-color: transparent;

  &--success {
    background: $color-success-50;
    border: 1px solid $color-success-100;

    .alert__message {
      border-left: 1px solid $color-success-100;
    }
  }

  &--warning {
    background: $color-warning-50;
    border: 1px solid $color-warning-100;

    .alert__message {
      border-left: 1px solid $color-warning-100;
    }
  }

  &--info {
    background: $color-info-50;
    border: 1px solid $color-info-100;

    .alert__message {
      border-left: 1px solid $color-info-100;
    }
  }

  &--error {
    background: $color-danger-50;
    border: 1px solid $color-danger-100;

    .alert__message {
      border-left: 1px solid $color-danger-100;
    }
  }

  &__icon {
    flex: 0 0 auto;
    display: var(--fw-inline-msg-icon-display, flex);
    align-self: flex-start;
    margin-right: 8px;
  }

  &__message {
    padding-left: 12px;
    flex: 1 1 auto;
    color: $text-default;
    font-size: $font-sm;
    font-weight: $font-weight-400;
    line-height: $font-lh-sm;

    ::slotted(a) {
      font-weight: $font-weight-500;
      color: #365dbe; // TODO: follow DSM
      text-decoration: none;
    }
  }

  &__close {
    flex: 0 0 auto;
    display: flex;
    align-self: flex-start;
    padding-right: 6px;
    padding-left: 12px;
    cursor: pointer;
  }
}
