/* stylelint-disable a11y/media-prefers-reduced-motion */
.modal-header-container {
  padding-block-end: 0;
  padding-inline: 32px;
  padding-block-start: 32px;
  position: relative;
  background: #fff;
  border-end-start-radius: 0;
  border-end-end-radius: 0;
  border-start-end-radius: 4px;
  border-start-start-radius: 4px;
  transition: all 0.1s linear;
  display: flex;
  justify-content: space-between;
  flex: none;

  .modal-header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    font-size: $font-size-18;
    font-weight: $font-weight-600;
    line-height: 24px;
    color: $color-elephant-900;

    .modal-header-body {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 0px;

      .modal-title {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: flex;
        gap: 10px;
        color: $color-elephant-900;

        .modal-title-icon {
          width: auto;
          height: 24px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
        }

        .title-label {
          font-size: $font-size-18;
          font-weight: $font-weight-600;
          line-height: 24px;
        }
      }

      .description {
        font-size: $font-size-14;
        font-weight: $font-weight-default;
        color: $color-smoke-700;
        line-height: 20px;
        padding-inline: 0px;
        padding-block: 6px;
      }
    }
  }
}
