/* stylelint-disable a11y/media-prefers-reduced-motion */
@import '../../../../../styles/mixins/typography';

.modal-header-container {
  padding: 32px 32px 0;
  position: relative;
  background: $color-neutral-100;
  border-radius: 4px 4px 0 0;
  transition: all 0.1s linear;
  display: flex;
  justify-content: space-between;
  flex: none;

  .modal-header {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    font-size: $font-lg;
    line-height: $font-lh-base;
    font-weight: $font-weight-600;
    color: $text-default;

    .modal-header-body {
      width: 100%;
      height: auto;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 0px;

      .modal-title {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        display: flex;
        gap: 10px;
        color: $text-default;

        .modal-title-icon {
          width: auto;
          height: 24px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
        }

        .title-label {
          font-size: $font-lg;
          line-height: $font-lh-base;
          font-weight: $font-weight-600;
        }
      }

      .description {
        font-size: $font-sm;
        line-height: $font-lh-sm;
        font-weight: $font-weight-400;
        color: $text-secondary;
        padding: 6px 0px;
      }
    }
  }
}
