// all custom fonts
@font-face
  font-family: 'National-Regular'
  font-style: normal
  font-weight: 400
  src: url("/fonts/national/National-Regular.otf") format("woff")
@font-face
  font-family: 'National-Book'
  font-style: normal
  font-weight: 400
  src: url("/fonts/national/National-Book.otf") format("woff")
@font-face
  font-family: 'National-Book'
  font-style: italic
  font-weight: 400
  src: url("/fonts/national/National-BookItalic.otf") format("woff")
@font-face
  font-family: 'National-Regular'
  font-style: normal
  font-weight: 500
  src: url("/fonts/national/National-Regular.otf") format("woff")
@font-face
  font-family: 'National-Medium'
  font-style: normal
  font-weight: 600
  src: url("/fonts/national/National-Medium.otf") format("woff")
@font-face
  font-family: 'National-Semibold'
  font-style: normal
  font-weight: 700
  src: url("/fonts/national/National-Semibold.otf") format("woff")
@font-face
  font-family: 'National-Bold'
  font-style: normal
  font-weight: 800
  src: url("/fonts/national/National-Bold.otf") format("woff")
/**
 * @license
 * MyFonts Webfont Build ID 3393647, 2017-05-23T03:19:58-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Sailec-Bold by Type Dynamic
 * URL: https://www.myfonts.com/fonts/typedynamic/sailec/bold/
 * Licensed pageviews: 2,000,000
 *
 * Webfont: Sailec-BoldItalic by Type Dynamic
 * URL: https://www.myfonts.com/fonts/typedynamic/sailec/bold-italic/
 * Licensed pageviews: 2,000,000
 *
 * Webfont: Sailec-Light by Type Dynamic
 * URL: https://www.myfonts.com/fonts/typedynamic/sailec/light/
 * Licensed pageviews: 2,000,000
 *
 * Webfont: Sailec-LightItalic by Type Dynamic
 * URL: https://www.myfonts.com/fonts/typedynamic/sailec/light-italic/
 * Licensed pageviews: 2,000,000
 *
 * Webfont: Sailec-Medium by Type Dynamic
 * URL: https://www.myfonts.com/fonts/typedynamic/sailec/medium/
 * Licensed pageviews: 2,010,000
 *
 * Webfont: Sailec-MediumItalic by Type Dynamic
 * URL: https://www.myfonts.com/fonts/typedynamic/sailec/medium-italic/
 * Licensed pageviews: 2,010,000
 *
 * Webfont: Sailec-Regular by Type Dynamic
 * URL: https://www.myfonts.com/fonts/typedynamic/sailec/regular/
 * Licensed pageviews: 2,010,000
 *
 * Webfont: Sailec-RegularItalic by Type Dynamic
 * URL: https://www.myfonts.com/fonts/typedynamic/sailec/regular-italic/
 * Licensed pageviews: 2,010,000
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3393647
 * Webfonts copyright: Copyright &#x00A9; 2014 by Type Dynamic. All rights reserved.
 *
 * © 2017 MyFonts Inc
*/
@font-face
  font-family: 'Sailec-Bold'
  src: url("/fonts/sailec-webfont/33C86F_0_0.eot")
  src: url("/fonts/sailec-webfont/33C86F_0_0.eot?#iefix") format("embedded-opentype"), url("/fonts/sailec-webfont/33C86F_0_0.woff2") format("woff2"), url("/fonts/sailec-webfont/33C86F_0_0.woff") format("woff"), url("/fonts/sailec-webfont/33C86F_0_0.ttf") format("truetype")
@font-face
  font-family: 'Sailec-BoldItalic'
  src: url("/fonts/sailec-webfont/33C86F_1_0.eot")
  src: url("/fonts/sailec-webfont/33C86F_1_0.eot?#iefix") format("embedded-opentype"), url("/fonts/sailec-webfont/33C86F_1_0.woff2") format("woff2"), url("/fonts/sailec-webfont/33C86F_1_0.woff") format("woff"), url("/fonts/sailec-webfont/33C86F_1_0.ttf") format("truetype")
@font-face
  font-family: 'Sailec-Light'
  src: url("/fonts/sailec-webfont/33C86F_2_0.eot")
  src: url("/fonts/sailec-webfont/33C86F_2_0.eot?#iefix") format("embedded-opentype"), url("/fonts/sailec-webfont/33C86F_2_0.woff2") format("woff2"), url("/fonts/sailec-webfont/33C86F_2_0.woff") format("woff"), url("/fonts/sailec-webfont/33C86F_2_0.ttf") format("truetype")
@font-face
  font-family: 'Sailec-LightItalic'
  src: url("/fonts/sailec-webfont/33C86F_3_0.eot")
  src: url("/fonts/sailec-webfont/33C86F_3_0.eot?#iefix") format("embedded-opentype"), url("/fonts/sailec-webfont/33C86F_3_0.woff2") format("woff2"), url("/fonts/sailec-webfont/33C86F_3_0.woff") format("woff"), url("/fonts/sailec-webfont/33C86F_3_0.ttf") format("truetype")
@font-face
  font-family: 'Sailec-Medium'
  src: url("/fonts/sailec-webfont/33C86F_4_0.eot")
  src: url("/fonts/sailec-webfont/33C86F_4_0.eot?#iefix") format("embedded-opentype"), url("/fonts/sailec-webfont/33C86F_4_0.woff2") format("woff2"), url("/fonts/sailec-webfont/33C86F_4_0.woff") format("woff"), url("/fonts/sailec-webfont/33C86F_4_0.ttf") format("truetype")
@font-face
  font-family: 'Sailec-MediumItalic'
  src: url("/fonts/sailec-webfont/33C86F_5_0.eot")
  src: url("/fonts/sailec-webfont/33C86F_5_0.eot?#iefix") format("embedded-opentype"), url("/fonts/sailec-webfont/33C86F_5_0.woff2") format("woff2"), url("/fonts/sailec-webfont/33C86F_5_0.woff") format("woff"), url("/fonts/sailec-webfont/33C86F_5_0.ttf") format("truetype")
@font-face
  font-family: 'Sailec-Regular'
  src: url("/fonts/sailec-webfont/33C86F_6_0.eot")
  src: url("/fonts/sailec-webfont/33C86F_6_0.eot?#iefix") format("embedded-opentype"), url("/fonts/sailec-webfont/33C86F_6_0.woff2") format("woff2"), url("/fonts/sailec-webfont/33C86F_6_0.woff") format("woff"), url("/fonts/sailec-webfont/33C86F_6_0.ttf") format("truetype")
@font-face
  font-family: 'Sailec-RegularItalic'
  src: url("/fonts/sailec-webfont/33C86F_7_0.eot")
  src: url("/fonts/sailec-webfont/33C86F_7_0.eot?#iefix") format("embedded-opentype"), url("/fonts/sailec-webfont/33C86F_7_0.woff2") format("woff2"), url("/fonts/sailec-webfont/33C86F_7_0.woff") format("woff"), url("/fonts/sailec-webfont/33C86F_7_0.ttf") format("truetype")
@font-face
  font-family: 'Merriweather'
  src: url("/fonts/Merriweather/Merriweather.ttf") format("truetype")
  font-weight: normal
  font-style: normal