@mixin border($top, $right, $bottom, $left) {
  border-top-width: $top;
  border-right-width: $right;
  border-bottom-width: $bottom;
  border-left-width: $left;
}

@mixin border-radius($topRight, $bottomRight, $bottomLeft, $topLeft) {
  border-end-end-radius: $bottomRight;
  border-start-end-radius: $topRight;
  border-end-start-radius: $bottomLeft;
  border-start-start-radius: $topLeft;
}
