@mixin border($top, $right, $bottom, $left) {
  border-top-width: $top;
  border-right-width: $right;
  border-bottom-width: $bottom;
  border-left-width: $left;
}

@mixin border-radius($right, $left) {
  border-bottom-right-radius: $right;
  border-top-right-radius: $right;
  border-bottom-left-radius: $left;
  border-top-left-radius: $left;
}
