@mixin border($top, $right, $bottom, $left) {
  border-top-width: $top;
  border-right-width: $right;
  border-bottom-width: $bottom;
  border-left-width: $left;
}

@mixin border-radius($topRight, $bottomRight, $bottomLeft, $topLeft) {
  border-bottom-right-radius: $bottomRight;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $bottomLeft;
  border-top-left-radius: $topLeft;
}
