@import '../variables/colors';

@mixin background($background) {
  @if $background == 'dark' {
    background-color: $bg-dark;
  } @else if $background == 'smoke' {
    background-color: $bg-smoke;
  } @else if $background == 'info' {
    background-color: $bg-info;
  } @else if $background == 'success' {
    background-color: $bg-success;
  } @else if $background == 'warning' {
    background-color: $bg-warning;
  } @else if $background == 'danger' {
    background-color: $bg-danger;
  } @else {
    @warn "Invalid background name `#{$background}`.";
  }
}
