@import '../variables/colors';

@mixin background($background) {
  @if $background == 'dark' { background-color: $bg-dark; }
  @else if $background == 'smoke' { background-color: $bg-smoke; }
  @else if $background == 'success' { background-color: $bg-success; }
  @else if $background == 'info' { background-color: $bg-success; }
  @else if $background == 'danger' { background-color: $bg-danger; }
  @else if $background == 'warning' { background-color: $bg-warning; }
  @else { @warn "Invalid background name `#{$background}`."; } 
}
