/**
  Flex related mixins
*/
@mixin flexbox {
  display: flex;
}

@mixin flex-direction($value: row) {
  flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
  flex-wrap: $value;
}

@mixin flex-flow(
  $values: (
    row nowrap,
  )
) {
  flex-flow: $values;
}

@mixin order($int: 0) {
  order: $int;
}

@mixin flex-grow($int: 0) {
  flex-grow: $int;
}

@mixin flex-shrink($int: 1) {
  flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
  flex-basis: $value;
}

@mixin justify-content($value: flex-start) {
  justify-content: $value;
}

@mixin align-items($value: stretch) {
  align-items: $value;
}

@mixin align-content($value: stretch) {
  align-content: $value;
}
