@mixin padding($top, $right, $bottom, $left) {
  padding-top: $top;
  padding-inline-end: $right;
  padding-bottom: $bottom;
  padding-inline-start: $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin-top: $top;
  margin-inline-end: $right;
  margin-bottom: $bottom;
  margin-inline-start: $left;
}
