@mixin padding($top, $right, $bottom, $left) {
  padding-block-start: $top;
  padding-inline-end: $right;
  padding-block-end: $bottom;
  padding-inline-start: $left;
}

@mixin margin($top, $right, $bottom, $left) {
  margin-block-start: $top;
  margin-inline-end: $right;
  margin-block-end: $bottom;
  margin-inline-start: $left;
}
