@use 'sass:map';
@import '../variables/typography';

$size-height-ratio: (
  header: (
    12px: 16px,
    14px: 20px,
    16px: 20px,
    18px: 24px,
    24px: 32px,
    32px: 40px,
    44px: 54px,
  ),
  body: (
    12px: 20px,
    14px: 20px,
    16px: 24px,
    18px: 28px,
    24px: 36px,
    32px: 48px,
    44px: 64px,
  ),
);

@mixin typography(
  $type: 'body',
  $size: 16px,
  $color: $text-default,
  $weight: 400
) {
  font-size: $size;
  color: $color;
  font-weight: $weight;
  letter-spacing: normal;

  @if (($type == 'body') or ($type == 'header')) {
    @if $size == 12px {
      line-height: map.get($size-height-ratio, $type, 12px);
    } @else if $size == 14px {
      line-height: map.get($size-height-ratio, $type, 14px);
    } @else if $size == 16px {
      line-height: map.get($size-height-ratio, $type, 16px);
    } @else if $size == 18px {
      line-height: map.get($size-height-ratio, $type, 18px);
    } @else if $size == 24px {
      line-height: map.get($size-height-ratio, $type, 24px);
    } @else if $size == 32px {
      line-height: map.get($size-height-ratio, $type, 32px);
    } @else if $size == 44px {
      line-height: map.get($size-height-ratio, $type, 44px);
    } @else {
      @error "Unacceptable font size #{$size}.";
    }
  } @else {
    @error "Unacceptable type value. Should always be 'header' or 'body'.";
  }
}
