.tag {
  line-height: 1.4;
  background-color: $color-smoke-50;
  border: none;
  font-size: $font-size-12;
  color: $color-elephant-900;
  margin: 2px;
  display: inline-block;
  width: auto;
  font-weight: 500;
  word-break: break-all;
  vertical-align: middle;

  &-standard {
    border-radius: 4px;
    padding: 3px 0 4px 8px;
  }

  &-avatar {
    border-radius: 8px;

    span {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }

    fw-avatar {
      margin: 6px 8px 6px 6px;
    }
  }

  .remove-btn {
    opacity: 1;
    color: $color-elephant-800;
    font-size: $font-size-16;
    line-height: normal;
    position: relative;
    right: 0;

    &.standard {
      height: 100%;
      margin-left: 4px;
      padding: 3px 8px 5px;
      border-radius: 4px;
    }

    &.avatar {
      width: 24px;
      height: 24px;
      margin: 4px 4px 4px 8px;
      border-radius: 8px;
      text-align: center;

      &:hover,
      &:focus {
        background-color: $color-milk;
        cursor: pointer;
      }
    }

    &:hover,
    &:focus {
      background-color: $color-smoke-100;
      cursor: pointer;
    }

    &.disabled {
      color: $color-elephant-600;
      background-color: $color-smoke-50;
      cursor: not-allowed;
    }
  }
}
