.tag {
  display: inline-flex;
  align-items: center;
  color: $text-default;
  font-size: $font-sm;
  word-break: break-all;

  .content {
    line-height: $font-lh-sm;
    vertical-align: middle;
  }

  &-standard {
    padding: 2px 2px 2px 8px;
    border-radius: 4px;
    font-weight: $font-weight-600;
    background-color: $color-secondary-50;
  }

  &-avatar {
    padding: 4px;
    border-radius: 24px;
    font-weight: $font-weight-400;
    background: linear-gradient(
      180deg,
      $color-secondary-25 2.56%,
      #f3f5f7 95.75%
    );

    fw-avatar {
      margin-right: 8px;
    }
  }

  .remove-btn {
    margin-left: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-primary-800; // TODO: follow DSM. color not in text palette
    font-size: $font-base;

    &.standard {
      min-height: 20px;
      min-width: 20px;
      border-radius: 4px;
    }

    &.avatar {
      min-height: 24px;
      min-width: 24px;
      border-radius: 16px;

      &:hover,
      &:focus {
        background-color: $color-neutral-100;
        cursor: pointer;
      }
    }

    &:hover,
    &:focus {
      background-color: $color-secondary-100;
      cursor: pointer;
    }

    &.disabled {
      color: $color-primary-600; // TODO: follow DSM. color not in text palette
      background-color: $color-secondary-50;
      cursor: not-allowed;
    }
  }
}
