.tag {
  display: inline-flex;
  align-items: center;
  width: auto;
  padding: 4px;
  border: none;
  color: $color-elephant-900;
  font-size: $font-size-14;
  font-weight: 500;
  background-color: $color-smoke-50;
  word-break: break-all;
  line-height: 1.4;

  &-standard {
    border-radius: 4px;
  }

  &-avatar {
    border-radius: 8px;

    fw-avatar {
      padding-right: 8px;
    }
  }

  // .content {
  //   display: inline-block;
  //   vertical-align: middle;
  //   height: 100%;
  //   border: 1px solid red;
  // }

  .remove-btn {
    opacity: 1;
    color: $color-elephant-800;
    font-size: $font-size-16;
    line-height: normal;
    position: relative;
    right: 0;

    &.standard {
      height: 100%;
      margin-left: 4px;
      padding: 0px 8px 5px;
      border-radius: 4px;
    }

    &.avatar {
      min-width: 24px;
      min-height: 24px;
      margin: 4px 4px 4px 8px;
      border-radius: 8px;
      text-align: center;

      &:hover,
      &:focus {
        background-color: $color-milk;
        cursor: pointer;
      }
    }

    &:hover,
    &:focus {
      background-color: $color-smoke-100;
      cursor: pointer;
    }

    &.disabled {
      color: $color-elephant-600;
      background-color: $color-smoke-50;
      cursor: not-allowed;
    }
  }
}
