/**
  @prop --label-padding-vertical: Top - bottom padding for label
  @prop --label-padding-horizontal: Left - right padding for label
*/

:host {
  --label-padding-vertical: 0;
  --label-padding-horizontal: 5px;
}

.label {
  color: #6f7c87;
  border: 1px solid #dadfe3;
  background-color: $color-milk;
  font-weight: 600;
  font-size: $font-size-12;
  padding: var(--label-padding-vertical) var(--label-padding-horizontal);
  line-height: 1.5;
  display: inline-block;
  border-radius: 2px;

  &--blue {
    background-color: $color-azure-50;
    color: $color-azure-800;
    border: 1px solid $color-azure-100;
  }

  &--red {
    background-color: $color-persimmon-50;
    color: $color-persimmon-800;
    border: 1px solid $color-persimmon-100;
  }

  &--green {
    background-color: $color-jungle-50;
    color: $color-jungle-800;
    border: 1px solid $color-jungle-100;
  }

  &--yellow {
    background-color: $color-casablanca-50;
    color: $color-casablanca-700;
    border: 1px solid $color-casablanca-100;
  }

  &--grey {
    background-color: $color-smoke-50;
    color: $color-smoke-700;
    border: 1px solid $color-smoke-100;
  }
}
