/**
  @prop --fw-label-padding-vertical: Top - bottom padding for label
  @prop --fw-label-padding-horizontal: Left - right padding for label
  @prop --fw-label-font-weight: Label font weight
*/

$label-color: $grey;
$label-bg: $color-neutral-100;
$label-border: $app-box-shadow;
$label-blue-bg: $color-info-50;
$label-blue-color: $text-info;
$label-blue-border: $color-info-100;
$label-red-bg: $color-danger-50;
$label-red-color: $text-danger;
$label-red-border: $color-danger-100;
$label-green-bg: $color-success-50;
$label-green-color: $text-success;
$label-green-border: $color-success-100;
$label-yellow-bg: $color-warning-50;
$label-yellow-color: $text-warning;
$label-yellow-border: $color-warning-100;
$label-grey-bg: $color-secondary-50;
$label-grey-color: $text-secondary;

:host {
  --fw-label-padding-vertical: 5px;
  --fw-label-padding-horizontal: 8px;
}

.label {
  color: $label-color;
  border: 1px solid $label-border;
  background-color: $label-bg;
  font-weight: var(--fw-label-font-weight, $font-weight-600);
  line-height: 14px; // TODO: follow DSM
  font-size: $font-xs;
  padding: var(--fw-label-padding-vertical) var(--fw-label-padding-horizontal);
  display: inline-block;
  border-radius: $radius;

  &--blue {
    background-color: $label-blue-bg;
    color: $label-blue-color;
    border: 1px solid $label-blue-border;
  }

  &--red {
    background-color: $label-red-bg;
    color: $label-red-color;
    border: 1px solid $label-red-border;
  }

  &--green {
    background-color: $label-green-bg;
    color: $label-green-color;
    border: 1px solid $label-green-border;
  }

  &--yellow {
    background-color:$label-yellow-bg;
    color: $label-yellow-color;
    border: 1px solid $label-yellow-border;
  }

  &--grey {
    background-color:$label-grey-bg;
    color: $label-grey-color;
    border: none;
  }
}
