/* stylelint-disable a11y/media-prefers-reduced-motion */
@import '../../styles/freshworks.scss';

.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 990;
  background-color: rgba(18, 52, 77, 0.5);
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

.modal {
  position: relative;
  max-height: 70vh;
  background: #fff;
  border-radius: 4px;
  display: flex;
  z-index: 999;
  flex-direction: column;
  animation: 'modal-entry' 0.5s 1;

  .content {
    padding: 0 32px 32px;
    height: 100%;
    width: auto;
    overflow: scroll;
  }
}

.standard {
  width: 512px;
}

.small {
  width: 424px;
}

.large {
  width: 800px;
}

.visible {
  display: flex;
}

@keyframes modal-entry {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
