@import '../../styles/freshworks.scss';

@media (prefers-reduced-motion) {
  .modal-container {
    transition: none;
  }
  .modal {
    animation: none;
  }
}

.modal-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 990;
  background-color: rgba(18, 52, 77, 0.5);
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

.modal {
  position: relative;
  max-height: 70vh;
  background: #fff;
  border-radius: 4px;
  display: flex;
  z-index: 999;
  flex-direction: column;
  animation: 'modal-entry' 0.5s 1;

  @media (prefers-reduced-motion) {
    .modal-header-container {
      transition: none;
    }
  }
  .modal-header-container {
    padding: 32px 32px 12px;
    position: relative;
    background: #fff;
    border-radius: 4px 4px 0 0;
    transition: all 0.1s linear;
    display: flex;
    justify-content: space-between;
    flex: none;

    .modal-header {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      line-height: 1.1;
      display: flex;

      .description {
        font-size: 12px;
        font-weight: 300;
        color: #475867;
        line-height: 1.6;
      }
    }

    .icon {
      margin-right: 8px;
    }

    @media (prefers-reduced-motion) {
      .close-btn {
        transition: none;
      }
    }
    .close-btn {
      background-color: transparent;
      background-image: none;
      border: 1px solid transparent;
      color: #264966;
      padding: 4px 6px;
      min-width: 16px;
      height: 24px;
      position: absolute;
      top: 8px;
      right: 8px;
      transition: all 0.3s;

      &:hover,
      &:focus {
        background-color: #ebeff3;
        border-radius: 4px;
        border-color: #ebeff3;
        cursor: pointer;
      }
    }
  }

  .content {
    padding: 0 32px 32px;
    height: 100%;
    width: auto;
    overflow: scroll;
  }

  .modal-footer-container {
    padding: 12px 16px;
    box-sizing: border-box;
    height: 56px;
    background-color: #f3f5f7;
    border-radius: 0 0 4px 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: none;

    fw-button {
      margin-left: 12px;
    }
  }
}

.standard {
  width: 512px;
}

.small {
  width: 424px;
}

.large {
  width: 800px;
}

.visible {
  display: flex;
}

@keyframes modal-entry {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
