/* stylelint-disable a11y/media-prefers-reduced-motion */

.modal-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 990;
  background-color: rgba(18, 52, 77, 0.5);
  align-items: center;
  justify-content: center;
  transition: all 0.3s linear;
}

.modal {
  position: relative;
  display: flex;
  max-height: 70vh;
  background: $color-milk;
  box-shadow: 0px 2px 18px rgba(18, 52, 77, 0.2);
  border-radius: 4px;
  z-index: 999;
  animation: 'modal-entry' 0.5s 1;

  .modal-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    .content {
      padding: 0px 32px 32px;
      overflow: visible;
      box-sizing: border-box;
    }
  }

  .close-btn {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    color: $color-elephant-800;
    padding: 4px 6px;
    min-width: 16px;
    height: 24px;
    position: absolute;
    top: 8px;
    right: 8px;
    transition: all 0.3s;
    z-index: 1;

    &:hover,
    &:focus {
      background-color: $color-smoke-50;
      border-radius: 4px;
      border-color: $color-smoke-50;
      cursor: pointer;
    }
  }
}

.standard {
  width: 512px;
}

.small {
  width: 424px;
}

.large {
  width: 800px;
}

.modal-overlay.slider {
  justify-content: flex-end;

  .modal {
    height: 100vh;
    max-height: 100vh;
    border-radius: 0px;
    width: 600px;
    animation: 'modal-entry-right' 0.5s 1;

    .close-btn {
      height: 24px;
      width: 24px;
      box-sizing: border-box;
      top: 0px;
      right: 600px;
      background-color: $color-elephant-900;
      border-radius: 2px 0px 0px 2px;
      padding: 0px;
      margin: 0px;
      line-height: 24px;
      text-align: center;

      &:hover,
      &:focus,
      &:focus-visible {
        background-color: $color-elephant-900;
        border-radius: 2px 0px 0px 2px;
        border-color: $color-elephant-900;
        outline: 0px;
      }

      &:focus,
      &:focus-visible {
        border: 1px solid $color-azure-800;
        box-shadow: $color-azure-800 0px 0px 0px 1px;
      }

      fw-icon {
        height: 12px;
        width: 12px;
      }
    }

    &.small,
    &.standard,
    &.large {
      width: 600px;
    }
  }
}

.visible {
  display: flex;
}

@keyframes modal-entry {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes modal-entry-right {
  0% {
    transform: translateX(calc(100% - 520px));
  }

  100% {
    transform: translateX(0);
  }
}
