@import "../../styles/theme";

:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:host(.checkbox-container) {
  display: inline;
  position: relative;
}

/* Focus event occurs on the root element */
:host(:focus) {
  input[type="checkbox"] + label {
    &::before {
      border: 1px solid transparent;
      box-shadow: 0 0 0 2px rgb(44, 92, 197);
    }
  }

  input[type="checkbox"][disabled] + label {
    &::before {
      box-shadow: none;
      border: 1px solid #dadfe3;
    }
  }
}

.label-field {
  font-size: 12px;
  color: #475867;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  padding-left: 28px;
  font-weight: 400;
}

/* Hover event occurs on the root element */
:host(:hover) {
  input[type="checkbox"] + label {
    &::before {
      border-color: $input-hover-color;
      box-shadow: 0 0 0 5px rgb(235, 239, 243);
    }
  }

  input[type="checkbox"][disabled] + label {
    cursor: not-allowed;

    &::before {
      box-shadow: none;
      border: 1px solid #dadfe3;
    }
  }
}

input[type="checkbox"] {
  display: none;

  & + label {
    user-select: none;
    cursor: pointer;
    margin-bottom: 0;
    vertical-align: middle;
    font-size: 12px;
    color: #12344d;
    font-weight: 500;

    .text {
      padding-left: 27px;
    }
    @media screen and (prefers-reduced-motion: reduce) {
      &::before {
        transition: none;
      }
    }

    &::before {
      position: absolute;
      left: 0;
      top: 3px;
      display: block;
      content: "";
      border: $checkbox-border-width solid $checkbox-color;
      height: 14px;
      width: 14px;
      background-color: $input-bg;
      transition: all 0.2s ease;
      box-sizing: border-box;
      border-radius: 2px;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      &::after {
        transition: none;
      }
    }

    &::after {
      position: absolute;
      display: block;
      content: "";
      left: 4px;
      top: 5px;
      width: 5px;
      height: 7px;
      transform: rotate(45deg);
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      box-sizing: border-box;
    }
  }

  &:checked + label {
    &::before {
      background: $checkbox-checked-color;
      border-color: $checkbox-checked-color;
      box-shadow: none;
    }

    &::after {
      border-right: $checkbox-mark-width solid $input-bg;
      border-bottom: $checkbox-mark-width solid $input-bg;
      opacity: 1;
      top: 5px;
    }
  }

  &:checked:hover + label {
    &::before {
      box-shadow: 0 0 0 5px rgb(235, 239, 243);
    }

    &::after {
      border-right: $checkbox-mark-width solid $input-bg;
      border-bottom: $checkbox-mark-width solid $input-bg;
      opacity: 1;
      top: 5px;
    }
  }

  &:checked:focus + label {
    &::before {
      background: $checkbox-checked-color;
      border-color: $app-light-bg;
      box-shadow: 0 0 0 1px rgb(44, 92, 197);
    }

    &::after {
      border-right: $checkbox-mark-width solid $input-bg;
      border-bottom: $checkbox-mark-width solid $input-bg;
      opacity: 1;
      top: 5px;
    }
  }

  &[disabled] {
    & + label {
      color: #92a2b1;

      .label-field {
        color: #92a2b1;
      }

      &::before {
        border-color: $disabled-color;
        background-color: $ticket-tag-background;
      }
    }

    &:checked + label {
      color: #92a2b1;

      &::before {
        background: $disabled-color;
      }
    }
  }
}
