/**
  @prop --fw-list-options-container-padding padding for the list options
**/

.container {
  margin: 0px;
  padding: var(--fw-list-options-container-padding, 12px 8px 8px);
  display: flex;
  flex-direction: column;
}
