:host {
  display: block;
  box-sizing: border-box;
}

.fw-co-export-field-checkbox-container {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;

  .fw-co-export-field-fw-checkbox {
    width: auto;
    max-width: 100%;

    .fw-co-export-field-fw-checkbox-label {
      display: inline-block;
      width: max-content;
      max-width: calc(100% - 22px);
      margin: 0;
      padding-block-start: 1px;
      text-align: start;

      word-break: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .fw-co-export-field-fw-checkbox-with-info {
    max-width: calc(100% - 8px - 12px);
  }

  .fw-co-export-field-fw-icon {
    margin-inline-start: 8px;
    margin-block-start: 5px;
  }
}
