/**
  @prop --accordion-box-shadow: Accordion box shadow
  @prop --accordion-border: Accordion border
  @prop --accordion-border-radius: Accordion border radius
*/
.accordion {
  box-shadow: var(--accordion-box-shadow, 0px 1px 4px rgba(18, 52, 77, 0.08));
  border: var(--accordion-border, 1px solid $app-border-primary);
  border-radius: var(--accordion-border-radius, 8px);

  &.no_bounding_box {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}
