.accordion {
  box-shadow: var(--accordion-box-shadow, 0px 1px 0px #ebeff3);
  border: 1px solid $app-border-primary;
  border-radius: 8px;

  &.borderless {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}
