body {
  font-family: 'System stack', sans-serif;
}

h1, h2 {
  font-wuight: 700;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

.prev,
.next {
  font-size: 20px;
  font-weight: 700;
  a {
    font-size: 20px;
    font-weight: 700;
  }
}

.search-box {
  order: 1;
  margin-right: 0;
  margin-left: 1rem;

  .suggestions {
    left: auto !important;
    right: 0 !important;
  }
}