:host {
  display: inline-flex;
}

.item {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: $color-elephant-900;
  line-height: 19px;
  white-space: nowrap;
}

.item__label {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:host(:last-of-type) .item__label {
  cursor: initial;
}

:host(:not(:last-of-type)) .item__label {
  color: $color-azure-800;
}

:host(:not(:last-of-type)) .item__label:hover {
  color: $color-azure-800;
}
:host(:not(:last-of-type)) .item__label:focus {
  color: $color-azure-800;
}

:host(:not(:last-of-type)) .item__label:active {
  color: $color-azure-800;
}

.item__prefix,
.item__suffix {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}

.item--has-prefix .item__prefix {
  display: inline-flex;
  margin-right: 8px;
}

.item--has-suffix .item__suffix {
  display: inline-flex;
  margin-left: 8px;
}

:host(:last-of-type) .item__separator {
  display: none;
}

.item__separator {
  display: inline-flex;
  align-items: center;
  margin: 0 8px;
  user-select: none;
}

/* Add max width for breadcrumb item for various device sizes */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .item__label {
    max-width: 60px;
  }
}

/* Media Query for low resolution Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .item__label {
    max-width: 90px;
  }
}
/* Media Query for Tablets,Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .item__label {
    max-width: 120px;
  }
}
