.error {
  color: $app-error;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding-top: 4px;
  padding-left: 2px;
}
// Label Style
label {
  font-size: 12px;
  color: $label-default;
  font-weight: 600;
  margin-bottom: 4px;
  padding-left: 2px;
  display: block;

  &.required::after {
    content: '*';
    position: relative;
    display: inline-block;
    top: 2px;
    font-size: 14px;
    color: $app-error;
    padding-left: 2px;
    font-weight: $font-weight-bold;
  }
}
.hint {
  font-weight: 400;
  font-size: 12px;
  color: $color-smoke-700;
  line-height: 20px;
  padding-top: 4px;
  padding-left: 2px;
}
.form-control-container {
  margin: 1em 0em;
}
