.error {
  color: $app-error;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding-block-start: 4px;
  padding-inline-start: 2px;
}
// Label Style
label {
  font-size: 12px;
  color: $label-default;
  font-weight: 600;
  margin-block-end: 4px;
  padding-inline-start: 2px;
  display: block;

  &.required::after {
    content: '*';
    position: relative;
    display: inline-block;
    inset-block-start: 2px;
    font-size: 14px;
    color: $app-error;
    padding-inline-start: 2px;
    font-weight: $font-weight-bold;
  }
}
.hint {
  font-weight: 400;
  font-size: 12px;
  color: $color-smoke-700;
  line-height: 20px;
  padding-block-start: 4px;
  padding-inline-start: 2px;
}
.form-control-container {
  margin-inline: 0em;
  margin-block: 1em;
}
.d-none {
  display: none;
}
