.error {
  color: $text-danger;
  font-weight: $font-weight-400;
  font-size: $font-xs;
  line-height: $font-lh-xs;
  padding-top: 4px;
  padding-left: 2px;
}
// Label Style
label {
  font-size: $font-xs;
  color: $text-secondary;
  font-weight: $font-weight-600;
  margin-bottom: 4px;
  padding-left: 2px;
  display: block;

  &.required::after {
    content: '*';
    position: relative;
    display: inline-block;
    top: 2px;
    font-size: $font-sm;
    color: $text-danger;
    padding-left: 2px;
    font-weight: $font-weight-700;
  }
}
.hint {
  font-weight: $font-weight-400;
  font-size: $font-xs;
  color: $text-secondary;
  line-height: $font-lh-xs;
  padding-top: 4px;
  padding-left: 2px;
}
.form-control-container {
  margin: 1em 0em;
}
