.radio-container {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  margin-right: 10px;
  max-width: 80ch;
  word-wrap: break-word;
}

/* Focus event occurs on the root element */
:host(:focus) {
  input[type='radio'] + label {
    &::before {
      border: 1px solid transparent;
      box-shadow: 0 0 0 2px $color-info-800;
      border-color: $color-secondary-700;
    }
  }

  input[type='radio'][disabled] + label {
    &::before {
      box-shadow: none;
      border: 1px solid $color-secondary-300;
    }
  }
}

/* Hover event occurs on the root element */
:host(:hover) {
  input[type='radio'] + label {
    &::before {
      box-shadow: 0 0 0 5px $color-secondary-50;
      border-color: $color-secondary-700;
    }
  }

  input[type='radio'][disabled] + label {
    cursor: not-allowed;

    &::before {
      box-shadow: none;
      border: 1px solid $color-secondary-300;
    }
  }
}

#description {
  font-size: $font-xs;
  line-height: $font-lh-xs;
  font-weight: $font-weight-400;
  color: $text-secondary;
  letter-spacing: 0;
  position: relative;
}

input[type='radio'] {
  display: none;

  & + label {
    user-select: none;
    cursor: pointer;
    margin-bottom: 4px;
    vertical-align: middle;
    font-size: $font-sm;
    line-height: $font-lh-sm;
    font-weight: $font-weight-600;
    color: $text-default;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      box-sizing: border-box;
    }
    @media screen and (prefers-reduced-motion: reduce) {
      &::before {
        transition: none;
      }
    }

    &::before {
      left: 0;
      border: 1px solid $color-secondary-100;
      border-radius: 50px;
      top: 4px;
      width: 14px;
      height: 14px;
      background: $color-neutral-100;
      transition: all 0.3s ease;
    }

    &.error {
      @media screen and (prefers-reduced-motion: reduce) {
        &::before {
          transition: none;
        }
      }
      &::before {
        left: 0;
        border: 1px solid $color-danger-800;
        border-radius: 50px;
        top: 4px;
        width: 14px;
        height: 14px;
        background: $color-neutral-100;
        transition: all 0.3s ease;
      }
    }
    @media screen and (prefers-reduced-motion: reduce) {
      &::after {
        transition: none;
      }
    }

    &::after {
      left: 3px;
      border-radius: 100%;
      width: 8px;
      height: 8px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      box-sizing: border-box;
    }
  }

  &:checked + label {
    &::before {
      background: $color-neutral-100;
      border-color: $color-info-800;
      box-shadow: none;
    }

    &::after {
      border-radius: 50%;
      background-color: $color-info-800;
      opacity: 1;
      top: 7px;
    }
  }

  &:checked:focus + label {
    &::before {
      border-color: $color-info-800;
      box-shadow: 0 0 4px 1px rgba($color-info-800, 0.6);
    }

    &::after {
      background-color: $color-info-800;
    }
  }

  &[disabled] {
    & + label {
      color: $text-disabled;

      .label-field {
        color: $text-disabled;
      }

      &::before {
        border-color: $color-secondary-300;
        background-color: $color-secondary-50;
      }

      &::after {
        border-color: $color-secondary-50;
        background-color: $color-secondary-300;
      }
    }

    &:checked + label {
      color: $text-disabled;
    }
  }
}

:host(.fw-radio-group__radio) {
  margin-bottom: 8px;
}

:host(.fw-radio-group__radio--last) {
  margin-bottom: 0px;
}
