.paragraph-container {
  position: relative;
  box-sizing: border-box;

  .paragraph-text {
    overflow: hidden;
    margin: 0px;
  }

  .paragraph-text.open {
    margin-bottom: 15px;
  }

  .paragraph-toggle {
    position: absolute;
    display: block;
    bottom: -19px;
    right: 5px;
    height: 15px;
    text-decoration: none;
    background-color: $color-smoke-25;
    // padding: 0px 4px;
    padding: 2px 8px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 4px;
    border: 1px solid $color-smoke-100;

    &:hover,
    &:focus {
      cursor: pointer;
    }

    fw-icon {
      display: inline;
    }
  }
}
