@import '../styles/variables/form-builder-style-utils.scss';

:host {
  max-width: $form-builder-field-editor-max-width;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.fb-section-container {
  width: 100%;
  padding-block: 8px;
  padding-inline: 12px;
  border-radius: 4px;
  border: 1px solid $color-smoke-100;
  background: $color-smoke-25;
  box-sizing: border-box;

  .fb-show-hide-sections-btn {
    --fw-button-label-vertical-padding: 0;
    --fw-button-hover-background-color: $color-smoke-25;
    --fw-button-active-box-shadow: $color-smoke-25;
    --fw-button--lg-focus-border: $color-smoke-25;

    &.disabled {
      pointer-events: none;
      user-select: none;
      cursor: not-allowed;
      opacity: 0.6;
    }
  }

  &.hide {
    display: none;
  }

  .fb-section-visibility {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    margin-block-end: 8px;

    .fb-section-count {
      padding-block: 1px;
      padding-inline: 8px;
      border-radius: 8px;
      background: #475867;
      color: $color-milk;
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    .fb-section-hide,
    .fb-section-show {
      font-size: 12px;
    }

    .fb-section-arrow-down {
      transform: rotate(180deg);
    }
  }
}
