@import '../styles/variables/form-builder-style-utils.scss';
$label-font: $font-stack-sans !default;
$warning-color: $color-casablanca-300;

:host {
  display: inline-block;
  max-width: $form-builder-field-editor-element-max-width;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.fb-field-dropdown {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .fb-field-dropdown-label {
    width: 100%;
    height: 20px;
    font-size: 12px;
    color: $label-default;
    font-weight: $font-weight-600;
    display: block;
    pointer-events: none;
    user-select: none;
  }

  .fb-field-dropdown-list-container {
    width: 100%;
    height: auto;
    padding-block-start: 4px;
    box-sizing: border-box;
  }

  .fb-field-dropdown-footer {
    width: 100%;
    height: auto;
    padding-inline-start: 32px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;

    .fb-field-dropdown-warning-text {
      font-family: $label-font;
      font-size: 12px;
      line-height: 20px;
      color: var(--fw-warning-color, $warning-color);
      position: inherit;
      display: block;
      padding-inline-start: 2px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.fb-field-dependent {
  .fb-field-dropdown-label-dependent-field {
    font-size: 14px;
    line-height: 21px;
    background: $color-smoke-100;
    padding-inline-start: 10px;
    border-radius: 4px;
    margin-block-end: 4px;
    color: $color-elephant-900;
    width: calc(100% + 24px);
  }

  .spacing-bottom-1 {
    margin-block-start: 20px;
  }

  .spacing-bottom-2 {
    margin-block-start: 40px;
  }

  .spacing-bottom-3 {
    margin-block-start: 60px;
  }
}
