@import "../../styles/freshworks";

.date-picker {
  position: relative;
  * {
    user-select: none;
  }
}

.mdp-container,
.mdp-range-container {
  float: left;
  position: absolute;
  left: 0;
  top: 40px;
  width: 300px;
  min-height: 336px;
  background: var(--color-milk);
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  padding: 16.5px;
  z-index: 1000;
}

.mdpc-footer,
.mdpc-range-footer {
  float: left;
  position: absolute;
  left: 0;
  top: 344px;
  width: 317px;
  padding: 8px;
  background: var(--color-smoke-25);
  border-top: 1px solid var(--color-smoke-50);
  margin-top: 15.5px;
  box-shadow: 4px 9px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  z-index: 1000;

  fw-button {
    float: right;
    margin-left: 7px;
  }
}

.mdpc-range-footer {
  width: 617px;
}

.mdp-range-container {
  width: 600px;
}

.mdpc-head {
  height: 53px;
}

.mdpc-body {
  float: left;
  width: 100%;
}

.body-container {
  .mdpc-body {
    width: 48%;
  }

  .mdpc-body-right {
    float: right;
    border-left: 1px solid var(--color-smoke-50);
    padding-left: 10px;
  }
}

/**
 * Controls
 */
.mdpch-button,
.mdpch-button-right {
  float: left;
  width: 45px;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.mdpch-button-right {
  float: right;
}

.mdpchb-inner:hover {
  cursor: pointer;
  background: var(--color-smoke-50);
}

.mdpchb-inner {
  float: left;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  line-height: 35px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -17px;
  margin-top: -11px;
}

.mdpchbi-left-arrow,
.mdpchbi-left-arrows,
.mdpchbi-left-arrows::after,
.mdpchbi-right-arrow,
.mdpchbi-right-arrows,
.mdpchbi-right-arrows::after {
  display: block;
  float: left;
  width: 6px;
  height: 6px;
  border-left: 2px solid var(--color-smoke-300);
  border-bottom: 2px solid var(--color-smoke-300);
  position: absolute;
}

.mdpchbi-left-arrow,
.mdpchbi-left-arrows,
.mdpchbi-right-arrow,
.mdpchbi-right-arrows {
  transform: rotate(45deg);
  left: 50%;
  top: 50%;
  margin-left: -2px;
  margin-top: -4px;
}

.mdpchbi-right-arrow,
.mdpchbi-right-arrows {
  transform: rotate(225deg);
  margin-left: -4px;
}

.mdpchbi-left-arrows::after,
.mdpchbi-right-arrows::after {
  content: '';
  left: 3px;
  top: -5px;
}

.mdpchbi-left-arrows {
  margin-left: -5px;
}

.mdpchbi-right-arrows {
  margin-left: -2px;
}

.mdpch-container,
.mdpch-container-right {
  float: left;
  width: 200px;
  height: 100%;
}

.mdpch-container-right {
  float: right;

  .mdpchc-month,
  .mdpchc-year {
    float: right;
  }
}

.mdpchc-year {
  float: left;
  height: 30px;
  font-size: 16px;
  color: var(--color-smoke-700);
  text-align: center;
  margin-top: 6px;
  width: 90px;
}

.mdpchc-month {
  float: left;
  height: 15px;
  font-size: 16px;
  color: var(--color-smoke-700);
  text-align: center;
  margin-top: 6px;
  margin-right: 10px;
  width: 90px;

  fw-select .input-container-inner input {
    width: 98%;
  }
}

/**
 *  Calendar
 */
.c-container,
.c-day-container,
.cc-body,
.cc-head,
.cch-name,
.cdc-day,
.cdc-day span {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
}

.c-container {
  width: 100%;
  height: 100%;
}

.cc-head {
  height: 30px;
  width: 100%;
}

.cch-name {
  width: 14.285%;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  color: var(--color-smoke-700);
  font-size: 13px;
  text-align: center;
}

.cc-body {
  height: 210px;
  width: 100%;
}

.c-day-container {
  width: 14.285%;
  height: 11.185%;
  margin-top: 10px;
}

.cdc-day {
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: 300;
  color: var(--color-smoke-700);
  text-align: center;
}

.cdc-day span:hover {
  cursor: pointer;
  background: var(--color-smoke-50);
}

.cdc-day span {
  width: 24px;
  height: 24px;
  font-size: 13px;
  margin-top: -13px;
  margin-left: -13px;
  left: 50%;
  top: 50%;
  font-weight: 400;
  border-radius: 10%;
  line-height: 22.5px;
  color: #12344d;
}

.c-day-container.disabled {
  pointer-events: none;
}

.date-input {
  width: 210px;
}

.c-day-container.disabled .cdc-day span {
  color: var(--color-smoke-100);
  background: var(--color-milk) !important;
}

.c-day-container.highlight:not(.disabled) .cdc-day span {
  border: 1px solid var(--color-smoke-100);
}

.c-day-container.highlight-blue:not(.disabled) .cdc-day span {
  background: var(--color-azure-800);
  color: var(--color-smoke-25);
}

.c-day-container.start-day {
  .cdc-day {
    margin-left: 10px;

    span {
      transform: translateX(-10px);
    }
  }
}

.c-day-container.end-day {
  .cdc-day {
    margin-left: -10px;

    span {
      transform: translateX(10px);
    }
  }
}

.c-day-container.highlight-range:not(.disabled) .cdc-day {
  background: #e4f2fd;
}
