:host {
  display: flex;
  align-items: center;
}

.current-record {
  color: $app-info-color;
  margin-left: 10px;
  margin-right: 14px;
  line-height: 20px;
  font-size: 14px;

  .record {
    font-weight: 700;
  }
}
