$error-color: $color-danger-800;
$input-color: $text-default;
$label-font: $font-stack-sans !default;
$help-color: $text-secondary;

.field-control {
  position: relative;
}

// Label

.field-control-label {
  display: block;
  font-size: var(--fw-label-font-size, $font-xs);
  color: var(--fw-label-color, $color-secondary-700);
  font-weight: var(--fw-label-font-weight, $font-weight-600);
  margin-bottom: 4px;
  padding-left: 2px;
  line-height: $font-lh-xs;

  &.required::after {
    content: '*';
    position: relative;
    display: inline-block;
    top: 2px;
    font-size: $font-sm;
    color: $color-danger-800;
    padding-left: 2px;
    font-weight: $font-weight-700;
  }
}

// Hint text

.field-control-hint-text {
  font-family: $label-font;
  font-size: var(--fw-hint-font-size, $font-xs);
  line-height: $font-lh-xs;
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--fw-hint-color, $help-color);
  position: inherit;
  display: block;
  padding-left: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.field-control-error-text {
  font-family: $label-font;
  font-size: var(--fw-error-text-font-size, $font-xs);
  line-height: $font-lh-xs;
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--fw-error-color, $color-persimmon-800);
  position: inherit;
  display: block;
  padding-left: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.field-control-warning-text {
  font-family: $label-font;
  font-size: $font-xs;
  line-height: $font-lh-xs;
  margin-top: 4px;
  margin-bottom: 0;
  color: var(--fw-warning-color, $color-warning-300);
  position: inherit;
  display: block;
  padding-left: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
