/**
  @prop --fw-label-color: Color of the label.
  @prop --fw-hint-color: Color of the hint text.
  @prop --fw-warning-color: Color of the warning text.
  @prop --fw-error-color: Color of the error text.
  @prop --fw-input-height: The height of the input element.
  @prop --fw-input-border-radius: The border radius of the input element.
*/

@import '../../function-components/field-control.scss';

$label-font: $font-stack-sans !default;
$help-color: $text-secondary;
$disabled-color: $text-disabled;
$warning-color: $text-warning-2;
$error-color: $text-danger;
$input-border: $color-secondary-100;
$input-hover-color: $color-secondary-700;
$input-focus-color: $color-info-800;
$input-bg: $color-neutral-100;
$input-color: $text-default;

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:host {
  display: block;
}

@mixin stateStyle($_color) {
  border-color: $_color;

  &.has-focus {
    box-shadow: none;
    border-color: $_color;
  }

  &:hover,
  &:focus {
    border-color: $_color;
  }

  & + .help-block {
    color: $_color;
  }
}

.input-container {
  width: inherit;
  height: inherit;
}

// Input Container Style
.input-container-inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--fw-input-height, 32px);
  border: 1px solid $input-border;
  background-color: $color-neutral-100;
  position: relative;
  border-radius: var(--fw-input-border-radius, 4px);
  box-shadow: inset 0px 1px 2px rgba(24, 50, 71, 0.05); //  TODO: follow DSM : Elevation.

  &.error {
    @include stateStyle($error-color);
  }

  &.warning {
    @include stateStyle($warning-color);
  }

  .inner__content {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;

    .input__label {
      flex: 1 1 40%;
      display: flex;
      align-items: center;
      margin-left: 8px;

      input {
        width: 100%;
        resize: none;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0px;
        margin: 0px;
        font-size: $font-sm;
        font-weight: $font-weight-500;
        letter-spacing: 0;
        line-height: $font-lh-sm;
        color: $input-color;
        box-sizing: border-box;
        cursor: text;
        display: inline-block;
        font-family: inherit;

        &[disabled] {
          font-weight: $font-weight-400;
          color: $disabled-color;
          background-color: $input-disabled-bg; // TODO: follow DSM : not in palette
          pointer-events: none;
        }
      }
    }

    .input__prefix {
      display: flex;
      align-items: center;
      flex: 0 1 auto;
      margin-left: 4px;

      &.hasContent {
        margin-left: 8px;
      }
    }
  }

  .inner__suffix {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  @media (prefers-reduced-motion) {
    /* stylelint-disable */
    &:hover {
      transition: none;
    }
  }
  &:hover {
    border: 1px $input-hover-color solid;
  }

  &.has-focus {
    outline: none;
    background: $input-bg;
    background-color: $color-neutral-100;
    border: 1px solid $input-focus-color;
    box-shadow: 0 0 0 1px $input-focus-color;
  }

  &.disabled {
    font-weight: $font-weight-400;
    color: $disabled-color;
    border: 1px solid $color-secondary-50;
    background-color: $input-disabled-bg; // TODO: follow DSM : not in palette
    border-style: solid;
    pointer-events: none;
  }

  // Clear button
  .clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;

    &:hover,
    &:focus {
      cursor: pointer;
      pointer-events: initial;
    }

    .clear-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
    }
  }

  //Help Block
  & + .help-block {
    font-family: $label-font;
    font-size: $font-xs;
    line-height: $font-lh-xs;
    margin-top: 4px;
    margin-bottom: 0;
    color: var(--fw-hint-color, $help-color);
    position: inherit;
    display: block;
    padding-left: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::-webkit-input-placeholder {
  color: $color-secondary-300;
}

::-moz-placeholder {
  color: $color-secondary-300;
}

:-ms-input-placeholder {
  color: $color-secondary-300;
}

:-moz-placeholder {
  color: $color-secondary-300;
}
