$label-font: $font-stack-sans !default;
$placeholder-color: $muted-secondary;
$help-color: $muted-secondary;
$disabled-color: $input-disabled-color;
$error-color: $app-error;
$input-border: #cfd7df;
$input-hover-color: #475867;
$input-focus-color: #2c5cc5;
$input-bg: #fff;
$input-color: $app-primary-black;

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin stateStyle($_color) {
  & > input {
    border-color: $_color;
  }

  & > input:focus {
    box-shadow: none;
    border-color: $_color;
  }

  & > input:hover {
    border-color: $_color;
  }

  & + .help-block {
    color: $_color;
  }
}

.input-container {
  // margin-bottom: 16px;
  width: inherit;
  height: inherit;
}
// Label Style
label {
  font-size: 12px;
  color: $label-default;
  font-weight: $font-weight-semibold;
  margin-bottom: 0;
  padding-bottom: 4px;
  padding-left: 2px;
  display: block;

  &.required::after {
    content: '*';
    position: relative;
    display: inline-block;
    top: 2px;
    font-size: 14px;
    color: $app-error;
    padding-left: 2px;
    font-weight: $font-weight-bold;
  }
}

// Input Container Style
.input-container-inner {
  display: block;
  width: 100%;
  position: relative;

  input {
    width: 100%;
    border: 0;
    border: 1px solid $input-border;
    margin: 5px 0 0;
    border-radius: 4px;
    padding: 4px 12px 5px;
    resize: none;
    background-color: $app-light-bg;
    box-shadow: none;
    min-height: 24px;
    font-size: 12px;
    font-weight: $font-weight-semibold;
    letter-spacing: 0;
    line-height: 20px;
    color: $input-color;
    box-sizing: border-box;
    cursor: text;
    display: inline-block;
    font-family: inherit;

    @media (prefers-reduced-motion) {
      /* stylelint-disable */
      &:hover {
        transition: none;
      }
    }
    &:hover {
      border: 1px $input-hover-color solid;
      transition: 0.2s linear;
    }

    &:focus {
      outline: none;
      background: $input-bg;
      background-color: $app-light-bg;
      border: 1px solid transparent;
      box-shadow: 0 0 0 2px $input-focus-color;
    }

    &[disabled] {
      color: $disabled-color;
      background-color: $input-disabled-bg;
      border-style: solid;
      pointer-events: none;

      &:hover,
      &:focus {
        border: 1px solid $input-border;
      }
    }
  }

  // Clear button
  .clear-button {
    top: 12px;
    position: absolute;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;

    &:hover,
    &:focus {
      cursor: pointer;
      pointer-events: initial;
    }

    .clear-img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 12px;
      height: 12px;
    }
  }

  //Help Block
  & + .help-block {
    font-family: $label-font;
    font-size: 11px;
    margin-top: 3px;
    color: $help-color;
    position: inherit;
    margin-bottom: 0;
    display: block;
    padding-left: 2px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.error {
    @include stateStyle($error-color);
  }

  &.warning {
    @include stateStyle($warning-message-marker);
  }
}

::-webkit-input-placeholder {
  color: $muted-secondary;
}

::-moz-placeholder {
  color: $muted-secondary;
}

:-ms-input-placeholder {
  color: $muted-secondary;
}

:-moz-placeholder {
  color: $muted-secondary;
}

.icon {
  position: absolute;
  top: 12px;
  left: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &.left {
    left: 8px;
  }

  &.right {
    left: auto;
    right: 8px;
  }
}

.left-icon {
  input {
    padding-left: 32px;
  }
}

.right-icon {
  input {
    padding-right: 32px;
  }
}

.has-value {
  input {
    padding-right: 32px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
