//=== Button Style ===//
$btn-primary-color: $color-milk;
$btn-primary-bg: $color-elephant-800;
$btn-primary-bg-dark: $color-elephant-900;
$btn-primary-border: $color-elephant-900;
$btn-primary-border-active: $color-elephant-800;

$btn-secondary-color: $text-default;
$btn-secondary-bg: $color-milk;
$btn-secondary-bg-dark: $color-smoke-25;
$btn-secondary-border: $border-color;
$btn-secondary-border-active: $color-smoke-50;

$btn-danger-color: $color-milk;
$btn-danger-bg: $color-persimmon-800;
$btn-danger-bg-dark: $color-persimmon-900;
$btn-danger-border: $color-persimmon-900;

$btn-link-color: $color-azure-800;
$btn-link-bg: $color-smoke-50;

$active-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);

$btn-default-font-size: $font-size-14;
$btn-small-font-size: $font-size-12;
$btn-mini-font-size: $font-size-10;

$btn-font-weight: $font-weight-500;

@media screen and (prefers-reduced-motion: reduce) {
  .fw-btn {
    transition: none;
  }
}

.fw-btn {
  font-size: $btn-default-font-size;
  line-height: 20px;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: 0;
  color: $btn-primary-bg;
  cursor: pointer;
  transition: all 0.2s linear;
  letter-spacing: 0.3px;
  font-weight: $btn-font-weight;
  min-width: 87px;
  height: 32px;

  &:focus {
    border: 1px solid $btn-primary-bg;
    box-shadow: 0 0 0 1px $btn-primary-bg;
    outline: none;
  }

  &:active {
    box-shadow: $active-box-shadow;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &--primary {
    background-color: $btn-primary-bg;
    color: $btn-primary-color;
    border: 1px solid $btn-primary-border;
    background-image: linear-gradient(
      to bottom,
      $btn-primary-bg,
      $btn-primary-bg-dark
    );

    &:active {
      border: 1px solid $btn-primary-border-active;
    }

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $btn-primary-bg-dark;
      background-image: none;
    }
  }

  &--secondary {
    background-color: $btn-secondary-bg-dark;
    color: $btn-secondary-color;
    border: 1px solid $btn-secondary-border;
    background-image: linear-gradient(
      to bottom,
      $btn-secondary-bg,
      $btn-secondary-bg-dark
    );

    &:active {
      border: 1px solid $btn-secondary-border-active;
    }

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $btn-secondary-bg-dark;
      background-image: none;
    }
  }

  &--danger {
    color: $btn-danger-color;
    background-color: $btn-danger-bg;
    border: 1px solid $btn-danger-border;
    background-image: linear-gradient(
      to bottom,
      $btn-danger-bg,
      $btn-danger-bg-dark
    );

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $btn-danger-bg-dark;
      background-image: none;
    }
  }

  &--link {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    color: $btn-link-color;

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $btn-link-bg;
      border-color: $btn-link-bg;
    }
  }

  &--text {
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    color: $btn-primary-bg;

    &:focus:not([disabled]),
    &:hover:not([disabled]) {
      background-color: $btn-link-bg;
      border-color: $btn-link-bg;
    }
  }

  &--block {
    width: 100%;
  }

  &--mini {
    padding: 2px 2px;
    font-size: $btn-mini-font-size;
    line-height: $btn-mini-font-size;
    min-width: 16px;
    height: 16px;
  }

  &--small {
    padding: 5px 8px;
    font-size: $btn-small-font-size;
    line-height: 12px;
    min-width: 70px;
    height: 24px;
  }

  &--icon {
    min-width: 32px;
    width: 32px;
    padding: 0;
  }
}
