@import '../../../../../styles/mixins/typography';

:host {
  flex: 1;
  overflow-y: auto;
  font-size: $font-sm;
  line-height: $font-lh-sm;
  font-weight: $font-weight-400;
  color: $text-default;
}

.content {
  padding: 12px 32px 32px;
  overflow: visible;
  box-sizing: border-box;
}
