<label class="container">{label}
  <input type="checkbox" on:change="checkboxChange(this)" {...props} > 
  <span class="checkmark" ></span>
</label>
<style>
:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
 /*Customising our very own check box*/
 .container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  width: 112px;
  height: 20px;
  font-family: SFProText;
  font-size: 14px;
  line-height: 1.3;
  color: #12344d;
  padding-left: 31px;
 }
.container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border :1px solid #6c7684;
  box-sizing: border-box;
  border-radius:2px;
}
.container input[type="checkbox"]:hover ~ .checkmark {
 border :2px solid #6f7c87
}
.container input[type="checkbox"]:focus ~ .checkmark {
  border :2px solid #2e6ed8
}
.container input[type="checkbox"]:invalid ~ .checkmark {
border: solid 2px #f73f3e;
}
.container input[type="checkbox"]:checked ~ .checkmark {
  background-color: #2e6ed8;
  border:none;
  box-shadow: none;
}
.container input[type="checkbox"]:checked:hover:not([disabled]) ~ .checkmark {
  background-color: #003792;
  border: none;
}
.container input[type="checkbox"]:checked:focus:not([disabled]) ~ .checkmark{
  border:2px solid #ffffff;
  box-shadow: 0 0 0 1pt #2e6ed8;
  }
  .container input[type="checkbox"]:checked:invalid:not([disabled]) ~ .checkmark::after{
  border: solid 2px #f73f3e;
  top: 2px;
 left: 5px;
 width: 3px;
  height: 7px;
    border: solid #f73f3e;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
.container input[type="checkbox"]:checked:disabled ~.checkmark:after{
  background-color: #ebeef0;
  pointer-events: none;
  cursor:default;
  top: 2px;
  left: 5px;
  width: 3px;
  height: 7px;
  border: solid #6f7c87;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 
.container input[type="checkbox"]:disabled ~ .checkmark{
  box-shadow: inset 0 1px 2px 0 #f7f9fa;
  outline: solid 1px #cfd7df;
  background-color: #ebeef0;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input[type="checkbox"]:checked ~ .checkmark::after {
  display: block;
}

 .container .checkmark::after {
  top: 2px;
    left: 5px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
} 
</style>

<script>
  export default {
  tag: "fw-checkbox",
  props:  ["label","autofocus","checked","defaultChecked","defaultValue","disabled","form","indeterminate","name","required","type"],
  computed: {
      props: state => {
      //  if(document.querySelector("input").hasAttribute("checked")) document.querySelector("fw-checkbox").checked=true;
        Object.keys(state).forEach(key => {
          state[key] = state[key] === "" ? key : state[key];
        });
        return state;
      } 
    },
    methods:{
      checkboxChange : (ev)=>{
        document.querySelector("fw-checkbox").checked = ev.checked
        console.log( document.querySelector("fw-checkbox").checked )  
    } 
  },
};

</script>
