/**
  @prop --min-height: Minimum height of the select component
  @prop --max-height: Maximum height of the select component
*/

:host {
  --label-font: #{$font-stack};
  --input-bg: #{$color-milk};
  --help-color: #{$color-smoke-300};
  --error-color: #{$color-persimmon-800};
  --input-color: #{$color-elephant-900};
  --input-disabled-bg: #{$color-smoke-25};
  --input-hover-color: #{$color-smoke-700};
  --input-focus-color: #{$color-azure-800};
  --input-border: #{$color-smoke-100};
  --warning-color: #{$color-casablanca-300};
  --min-height: 10px;
  --max-height: 200px;
}

@mixin stateStyle($_color) {
  border-color: $_color;

  & span.dropdown-status-icon {
    border-color: $_color;
  }

  & ~ span.help-block {
    color: $_color;
  }
}

// Label Style
label {
  font-size: $font-size-12;
  font-weight: $font-weight-500;
  color: $color-elephant-900;
  margin-bottom: 0;
  padding-bottom: 4px;
  padding-left: 2px;
  display: block;

  &.required::after {
    content: '*';
    position: relative;
    display: inline-block;
    top: 2px;
    font-size: $font-size-14;
    color: $error-color;
    padding-left: 2px;
  }
}

// Input Container Style
.input-container-inner {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;

  input {
    flex-grow: 1;
    border: none;
    margin-top: 3px;
    font-size: $font-size-12;
    font-weight: $font-weight-500;
    letter-spacing: 0;
    line-height: 1.4;
    background-color: var(--input-bg);
    min-width: 20px;
    box-sizing: border-box;
    overflow: hidden;

    &:focus {
      border: none;
      outline: none;
    }

    &.multi-select {
      width: auto;
    }

    &:disabled {
      background-color: var(--input-disabled-bg) !important;
      border-color: transparent;
      cursor: not-allowed;
    }
  }
}

.input-container {
  width: calc(100% - 10px);
  border: 0;
  border: 1px solid var(--input-border);
  margin: 5px 0 0;
  border-radius: 4px;
  padding: 4px 0 4px 10px;
  background-color: var(--input-bg);
  box-shadow: none;
  min-height: 24px;
  display: inline-block;

  @media (prefers-reduced-motion) {
    &:hover,
    &:focus {
      transition: none;
    }
  }
  /* stylelint-disable */
  &:hover,
  &:focus {
    border: 1px var(--input-hover-color) solid;
    transition: 0.2s linear;
  }

  &.error {
    @include stateStyle(var(--error-color));
  }

  &.warning {
    @include stateStyle(var(--warning-color));
  }

  &.select-disabled {
    color: var(--color-smoke-50);
    background-color: var(--input-disabled-bg) !important;
    border-style: solid;
    cursor: not-allowed;

    &:hover {
      border: 1px solid var(--input-border);
    }
  }
}

:host(.has-focus) {
  .input-container {
    outline: none;
    background: var(--input-bg);
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px var(--input-focus-color);

    &.error {
      @include stateStyle(var(--error-color));

      box-shadow: 0 0 0 1px var(--error-color);
    }

    &.warning {
      @include stateStyle(var(--warning-color));

      box-shadow: 0 0 0 1px var(--warning-color);
    }
  }
}

.select-container {
  margin-bottom: 16px;
  width: inherit;
  height: inherit;
  position: relative;

  .dropdown {
    z-index: 99;
  }

  ul {
    min-height: var(--min-height);
    max-height: var(--max-height);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 8px;
    list-style: none;
    margin: 0;
    border-radius: 4px;
    margin-top: 2px;
    display: none;
    position: absolute;
    z-index: 1;
    background: var(--input-bg);
    width: 100%;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 18px 0 rgba(18, 52, 77, 0.16),
      0 2px 4px 0 rgba(18, 52, 77, 0.06);
    user-select: none;
    animation: dropdown-fade 0.15s;
    will-change: auto;
  }

  .dropdown-status-icon {
    position: absolute;
    display: inline-block;
    right: 12px;
    content: '';
    top: 45%;
    width: 5px;
    height: 5px;
    background-color: transparent;
    border-style: inherit;
    border-top: 1px solid #12344d;
    border-right: 1px solid #12344d;
    border-left: transparent;
    transform: rotate(135deg);
    transition: all 0.15s;
  }

  //Help Block
  .help-block {
    font-size: $font-size-12;
    margin-top: 3px;
    color: var(--help-color);
    position: inherit;
    margin-bottom: 0;
    display: block;
    padding-left: 2px;
  }

  .dropdown-status-icon.expanded {
    transform: rotate(315deg);
  }
}

.overlay {
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 95;
  background-color: transparent;
}

::placeholder {
  color: $color-smoke-300;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $color-smoke-300;
}

::-ms-input-placeholder {
  color: $color-smoke-300;
}

@keyframes dropdown-fade {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  50% {
    opacity: 0.7;
    transform: translateY(-5%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
