// Color/Theme related config variables

$app-primary: $color-azure-800;
$app-primary-black: #183247;
$app-icon-color: #12344d;
$app-icon-color-hover: darken($app-icon-color, 10%);
$app-icon-color-hover-bg: #ebedf0;
$app-icon-fillcolor-active: #fff;
$app-icon-color-active: #12344d;
$app-icon-color-disabled: #d3dbda;

//Gradient colors

//Bulk Action Buttons
$btn-lg-top: #fff;
$btn-lg-bottom: #f3f5f7;
$btn-lg-hover: #f3f5f7;
$btn-lg-border: #cfd7df;
$btn-lg-active-border: #b1bdc8;
$btn-lg-disabled: #f3f5f7;
$btn-lg-disabled-border: #ebeff3;
$btn-lg-disabled-text: #647a8e;
$btn-lg-focus-border: $color-azure-800;

//Primary and Secondary Buttons
$btn-lg-primary-top: #264966;
$btn-lg-primary-bottom: #12344d;
$btn-lg-primary-border: #12344d;
$btn-lg-primary-hover: #12344d;
$btn-lg-primary-selected-border: #264966;
$btn-lg-primary-disabled-top: #92a4b2;
$btn-lg-primary-disabled-bottom: #8899a6;
$btn-lg-primary-disabled-border: #8899a6;
$btn-secondary-top: #fff;
$btn-secondary-bottom: #f3f5f7;
$btn-delete-top: #d72d30;
$btn-delete-bottom: #c82124;
$btn-delete-hover: #c82124;
$btn-delete-selected: #d72d30;
$btn-delete-disabled-top: #eb9697;
$btn-delete-disabled-bottom: #e39091;
$btn-delete-disabled-border: #e39091;

// Background colors
$app-bg: #ebeff3;
$app-light-bg: #fff;
$app-header-bg-primary: #fff;
$app-header-bg-secondary: #f5f7f9;
$app-header-bg-tertiary: #ebeef0;
$app-action-icon-bg: #fff;
$unseen: #ff5959;
$app-error: #d72d30;
$app-error-bg: #ffd2d3;
$side-nav-bg: #284255;
$app-grey-bg: #f8f9fa;
$app-light-grey-bg: #e1e5e9;
$calendar-bg: #284255;
$trial-widget-bg: #f3f5f7;
$trial-widget-icon: #5b7387;
$content-hover-icon-bg: #f3f5f7;
$list-hover-color: #f3f5f7;
$app-green-bg: #f6fff8;
$account-card-bg: #ffcdd2;
$widget-sidebar-bg: #f7f9fa;
$calendar-event-color: #424379;
$calendar-container-bg: rgba(172, 211, 255, 0.3);

//Tab-header-colors
$tab-header-bg: #f7f9fa;

// Border color
$app-border-primary: #cfd7df;
$app-border-secondary: #ebeff3;
$app-border-tertiary: #ebeef0;
$app-border-black: #707070;
$card-border: #ebedf0;
$dark-border-grey: #dbdfe3;
$app-border-grey: #979797;
$account-card-border: #ebeff3;
$meta-hover-border: #b1bdc8;
$input-border: #cfd7df;
$modal-footer-border: #e5e5e5;

//tree-structure-border
$parent-child-border: #979797;

//link color
$app-link: #2c5cc5;
$app-link-hover: #1971e3;
$app-link-light: #acd3ff;
$app-text-light: #fff;
$app-text-dark: #000;

// Icon colors
$app-logo-color: #fff;
$app-icon-primary: #666;
$app-icon-menu-color: #cacbcc;
$app-icon-actions: #12344d;
$app-icon-actions--active: darken($app-icon-actions, 10%);
$app-icon-collab-color: #6f7c87;

//text colors
$app-info-color: #6f7c87;
$app-muted-color: #6f7c87;
$app-muted-grey: #475867;
$meta-info: #6f7c87;
$muted-primary: #777c80;
$muted-secondary: #acb6be;
$muted-tertiary: #dadfe3;
$orange-secondary: #ff9d00;
$label-default: $app-muted-grey;
$text-error: #ff5959;
$account-card-color: #dc949c;
$account-card-title: #12344d;
$secondary-heading-text: $app-muted-grey;
$sub-text-color: #999;
$terms-font-color: #576c7d;

//widget colors
$app-widget-bg: #fff;
$app-sidebar-bg: #f5f7f9;

//Ticket Priority color
$priority-low: #a0d76a;
$priority-medium: #4da1ff;
$priority-high: #ffd012;
$priority-urgent: #ff5959;

//Tag status color
$tag-normal: #fff;
$tag-normal-text: #848b99;

$tag-new: #e0f5f0;
$tag-new-text: #007958;
$tag-new-border: #b4e5d9;

$tag-customer: #e5f2fd;
$tag-customer-text: #2c5cc5;
$tag-customer-border: #bbdcfe;

$tag-overdue: #ffecf0;
$tag-overdue-text: #c82124;
$tag-overdue-border: #ffd0d6;

$tag-spam: #fef1e1;
$tag-spam-text: #c13e1b;
$tag-spam-border: #fddbb5;

$tag-deleted: #ebeff3;
$tag-deleted-text: #384551;
$tag-deleted-border: #ebeff3;

$tag-archived: #ef8464;
$tag-archived-text: #fff;
$tag-archived-border: #ef8464;

$tag-pending: #fff9f0;
$tag-pending-text: #ff8700;
$tag-pending-border: #fedfaf;

$tag-elapsed: #fff4f4;
$tag-elapsed-text: #ff2525;
$tag-elapsed-border: #ffd0d0;

$tag-bullet-text: #6f7c87;
$tag-closed: #f3f5f7;

$tag-billable: $app-light-bg;
$tag-billable-text: $app-icon-color;
$tag-billable-border: $app-border-primary;

$ticket-tag-background: #ebeff3;
$ticket-tags-hover: #cfd7df;
$tags-valid-border: #cfd7df;

//Btn-text-color
$app-btn-text-light: #fff;
$app-btn-text-dark: #183247;

//Notifications
$app-notification-primary: #f7f5e9;
$app-notification-bg: #fef1e1;
$app-notification-light: #fffef7;
$app-notification-border: #fddbb5;
$app-notification-divider: #a8a6a6;

$traffic-cop-border: #ffd0d6;
$traffic-cop-background: #ffecf0;
$traffic-cop-color: #c82124;

//Button colors
$app-primary-btn: #12344d;
$app-primary-btn-hover: darken($app-primary, 4%);
$app-primary-btn-border: #12344d;
$app-primary-btn-disabled: #90a1af;
$app-primary-btn-text-disabled: #fff;
$app-secondary-btn: #fff;
$app-secondary-btn-border: #dadfe3;
$app-secondary-btn-hover: #f3f5f7;
$app-secondary-btn-disabled: #dadfe3;
$app-tertiary-btn: #fff;
$app-disabled: #cdcdcd;
$app-category-hover: $app-primary;
$btn-private: #ffd012;
$app-category-active-darker: rgba(255, 255, 255, 0.3);
$app-category-active-lighter: rgba(0, 0, 0, 0.3);
$load-more-btn: #264966;
$load-more-btn-hover: #12344d;

$app-selected-color: #f7fef4;

// Radio button
$radio-button-border: $app-muted-grey;

//dropdown
$dropdown-hover: #ebeff3;
$dropdown-selected: #e5f2fd;
$category-menu-bg: #ebeff3;
$category-section-bg: #fff;
$category-link-hover: #f3f5f7;

//popover
$popover-background: #fff;

// freshcaller
$agent-offline: #df2d2d;
$agent-acw: #ffad1e;
$shadow-grey: #e8ebea;
$agent-not-available: #c9d1d0;
$border-grey-dark: #c9d1d0;
$border-grey: #e9edec;
$border-grey-light: #f2f2f2;
$text-dark: #000;
$call-in-progress: #4aa8a4;
$phone-contact: #989e9d;
$copytext-color: #808080;
$transfer-info: #ea171b;

// color picker
$filed-border-color: #d0d0d0;

//Add photo color
$add-icon-color: #6087ad;
$add-icon-border: #b6d6f3;
$add-container-border: #e2f1ff;

//Divider color
$divider: #9ea1a9;
$ticket-details-divider: #ebeff3;

// input range
$input-range: #12344d;

//Assign to component styles colours
$assignto-txt: #132537;
$assignto-dull-txt: #acb6be;
$assignto-bold-txt: #183247;
$assignto-selected: #2c5cc5;
$assingto-title-bg: #f8f9fa;
$assingto-title-border: #dbdfe3;

// EDITOR ICONS
$editor-icon: #5a6670;
$editor-icon-hover: #1e464c;
$editor-icon-hover-bg: #ebedf0;
$editor-fields-bg: #f5f7f9;

// TICKET app-icon-actions
$reply-icon: #28bd8b;
$notes-icon: #ffb50f;
$forward-icon: #4ca2ff;
$action-icon: $app-muted-grey;
$action-icon-hover: #384551;
$action-icon-hover-bg: #f5f7f9;

//TICKET LIST - Selction color
$list-selected: #fffef7;
$ticket-current-border: #95a3af;

// Agent Branding
$icon-holder-background: #e0e0e0;
$icon-holder-border: #d2d2d2;
$admin-footer-background: #fff;
$admin-sidebar-text: #444;
$footer-border: #ebeef0;
$color-preview-border: rgba(24, 50, 71, 0.1);
$color-preview-border-hover: rgba(24, 50, 71, 0.3);
$color-card-shadow-lighter: rgba(22, 29, 37, 0.05);
$color-card-shadow-lighter1: rgba(22, 29, 37, 0.15);

// feedback
$feedback-background: #fafafa;

//social icon colors
$facebook-color: #3b5998;
$twitter-color: #3b94d9;

// Google calendar
$gcal-event-summary: #399fc0;
$gcal-event-list-date: #f3f5f7;
$gcal-older-event: #989e9d;
$gcal-bottom-spacing: #d3dbda;

//Ticket response colors
$agent-response-color: #f8f9fa;
$internal-activity-color: #f4f6f8;

$customer-response-color: #e5f2fd;
$customer-response-border: #bbdcfe;
$customer-response-header: #bedbf5;

$agent-response-color: #f5f7f9;
$agent-response-border: #ebeff3;
$agent-response-header: #ebeff3;

$private-note-color: #fef1e1;
$private-note-border: $app-notification-border;

//Table
$table-header: $app-header-bg-secondary;
$table-row-hover: #f3f5f7;

// Default Font Stats
$font-weight-bold: 700;
$font-weight-extrabold: 600;
$font-weight-semibold: 500;
$font-weight-default: 400;
$font-weight-light: 300;
$default-content-size: 14px;
$font-size-small: 13px;
$font-size-xsmall: 12px;
$font-size-micro: 10px;

// falcon fallback
$font-weight-3qs: 600;
$cancel-grey: #9aa1a6;

// onboarding
$step-number-circled: #ff5959;
$video-box-shadow: rgba(0, 0, 0, 0.15);
$cs-overlay-shadow: rgba(0, 0, 0, 0.2);
$loading-screen-background: rgba(255, 255, 255, 0.95);
$timeline-current-shadow: rgba($app-primary, 0.2);
$time-color: #345c7c;
// attachment limit Error
$attachment-error-background: #ffecec;
$attachment-limit-overflow: #ff2525;

// admin homepage colors
$admin-support-channel-bcg: #f2fffa;
$admin-support-channel-border: #02b875;
$admin-general-settings-border: #ae64ce;
$admin-general-settings-bcg: #fcf5ff;
$admin-productivity-border: #448ee1;
$admin-productivity-bcg: #f0fcff;
$admin-account-settings-border: #eb9660;
$admin-account-settings-bcg: #fff6f0;
$admin-language-wrapper-bcg: #f7f8f8;

// admin form builder
$field-selected-bg: #fffdf6;
$field-selected-border: #ffe788;

// encrypted field colors
$encrypted-field-color: #fff7ec;
$encrypted-info-bg: #fff8ee;

// Dashboard
$library-hover-bg: #f7f9fa;
$library-hover-border: #acb6be;
$widget-selected: #02b875;
$remove-widget-bg: #f3f5f7;
$announcement-widget-bg: #fffced;
$active-announcement-bg: #fffdf6;
$active-announcement-border: rgba(255, 173, 30, 0.67);

// customer-satisfaction colors
$extremelysatisfied: #00a886;
$mostlysatisfied: #009a79;
$slightlysatisfied: #008969;
$slightlydissatisfied: #e86f25;
$neithersatisfied: #e16023;
$mostlydissatisfied: #d7461f;
$extremelydissatisfied: #d72d30;

// Font stack
$font-stack-sans: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', arial, sans-serif !default;

//Mailchimp colors
$text-blue-color: #4da1ff;
$text-blue-bg: #f0f7ff;
$text-green-color: #75ac3f;
$text-green-bg: #ebf6df;
$dark-gray: #999;

// bot variables
$bot-conversation-info-color: #888;
$bot-preview-shadow: rgba(1, 1, 1, 0.2);
$bot-preview-background: #f6f6f6;
$bot-reports-questions: #239cff;
$bot-reports-answers: #22de93;
$bot-preview-banner: #fbc913;
$bot-warning: #f6bc40;

// event scheduler base variables
$event-background: #424379;
$es-bg-primary: #f4f9ff;
$es-border-primary: #ebeef0;

//import progress
$stop-color: $app-error;
$imported-color: $app-border-grey;

//Canned Form list text
$card-hover-bg: #f8fcff;
$card-hover-border: #d1e2f1;
$canned-form-default-color: #183347;
$canned-form-bg-1: #1ab394;
$canned-form-border-1: #15a887;
$canned-form-bg-2: #4988e3;
$canned-form-border-2: #3e7bdd;

// warning color
$warning-color: #ff2525;

// audit log color
$audit-log-empty-content: #6f7c87;
$audit-log-deleted-data: #183247;
$audit-log-new-data: #00a886;

$audit-log-updated-border: #fedfaf;
$audit-log-updated-background: #fff9f0;
$audit-log-updated-text: #ff8700;

$audit-log-created-border: #a9deb7;
$audit-log-created-text: #00ae2d;
$audit-log-created-background: #e7faec;

$audit-log-deleted-border: #ffd0d0;
$audit-log-deleted-text: #ff2525;
$audit-log-deleted-background: #fff4f4;

$audit-log-diff-compare-previous: #f9f9f9;
$audit-log-diff-compare-current: #fff;

$audit-log-diff-compare-heading-border: #a3adb5;
$audit-log-diff-compare-heading-background: #a3adb5;

// advanced ticketing card themes
$media-play-btn: rgba(50, 50, 50, 0.7);
$media-play-btn-hover: rgba(50, 50, 50, 1);
$card-blue: #add3fd;
$card-yellow: #f8e2a9;
$card-pink: #f4c0c0;
$card-light-green: #d6f8c0;
$card-orange: #ffd7c8;
$card-turquoise: #d1f0ff;
$card-aqua-blue: #a9e8eb;
$card-purple: #efdaff;
$card-dark-green: #b4e3d1;
$toggle-switch-background: rgba(0, 0, 0, 0.2);

// try-higher
$button-selected-background: #f7fef4;

// account cancel color
$account-cancel-border-active: #04b877;
$account-cancel-background-active: #f2fffa;

$plan-selected-bg: #f7fafe;
$content-header-bg: #f9f9f9;
$lower-plans-button-border: #a0e5cc;
$current-plan-icon-color: #0070e3;
$color-active: lighten(#0070e3, 40%);
$plan-box-shadow: #161d25;

$positive-green: #02b875;
$negative-red: #ff5959;
$grey: #6f7c87;
$amber-color: #ffad1e;
$danger-color: #ff5959;
$no-change-color: #acb6be;

$text-error: #ff5959;
$app-primary-black: #183247;
$app-box-shadow: #dadfe3;

$label-color: #000;
$page-bg: #f6f8f8;
$calendar-nav-hover-bg: #eee;
$selected-day-radius: 2px;

// Checkbox inputs
$checkbox-color: $app-border-primary;
$checkbox-checked-color: $app-primary;
$checkbox-border-width: 1px;
$checkbox-mark-width: 2px;
$input-bg: $app-action-icon-bg;
$input-color: $app-primary-black;
$input-focus-color: $app-primary;
$input-hover-color: $app-icon-color;
$disabled-color: #dadfe3;

$max-card-count: 3;
$gap-size: 0;
$primary-border: #dadfe3;
$primary-select: $app-primary;
$icon-disabled: $app-border-primary;
$primay-label: $muted-secondary;
$icon-normal: $app-icon-color;
$card-background: #fcfcfc;
$card-boxshadow: rgba(0, 0, 0, 0.08);
$editnote-background: $app-grey-bg;

// placeholder loader colors
$placeholder-background-color: #fff;
$placeholder-primary-color: #eee;
$placeholder-secondary-color: #ccc;
$placeholder-text-placeholder-color: #acacac;
$placeholder-grey: $app-border-primary;

// bot conversations
$text-muted-light: #9aa1a6;

$radio-color: $app-border-primary;
$radio-checked-color: $app-primary;
$radio-border-width: 1px;
$radio-mark-width: 2px;
$input-bg: $app-action-icon-bg;
$input-color: $app-primary-black;
$input-focus-color: $app-primary;
$input-hover-color: $app-icon-color;
$unchecked-color: $muted-secondary;
$checked-color: $app-selected-color;
$disabled-color: $muted-tertiary;
$hover-color: $app-header-bg-secondary;

$label-color: #000;
$page-bg: #f6f8f8;
$radius: 4px;
$calendar-nav-hover-bg: #eee;
$selected-day-radius: 2px;
$hover-transition: background-color 0.5s ease;
$day-color: $app-primary-black;
$disabled-day-color: $muted-secondary;

$hover-transition: background-color 0.5s ease;

$keyboard-color: #ebeef0;

$getting-started: #284255;

$light-grey: #6f7c87;

$fullscreen-bg: #183257;
$progress-bar: #01b875;

$app-danger-btn: #ff5959;
$table-row-hover: #f3f5f7;

$config-border: rgba(155, 155, 155, 0.19); /* Need to check with designer */
$item-border: rgba(0, 0, 0, 0.18); /* Need to check with designer */
$alert-color: #ffad1e;
$critical-color: #d0021b;

$fill-filter: #ff9e35;
$fill-spam: #ff5959;

$checkbox-color: $app-border-primary;
$checkbox-checked-color: $app-primary;

$toggle-btn-shadow: rgba(0, 0, 0, 0.23);
$toggle-btn-on-bg: #2c5cc5;
$toggle-btn-off-bg: #647a8e;
$toggle-btn-off-shadow: rgba(87, 108, 125, 0.3);
$toggle-btn-on-shadow: rgba(40, 61, 165, 0.3);

$dotWidth: 5px;
$dotHeight: 5px;
$dotRadius: $dotWidth/2;

$dotColor: $muted-secondary;
$dotBgColor: $dotColor;
$dotBeforeColor: $dotColor;
$dotAfterColor: $dotColor;

$dotSpacing: $dotWidth + $dotWidth/2;

$grey-color: $app-icon-color;

$form-component-width: 172px;

$help-color: $muted-secondary;

$shp-grey: #dfe3e8;
$shp-yellow: #ffea8a;
$shp-orange: #ffc48b;
$shp-text-grey: #454f5b;
$shp-text-yellow: #595130;
$shp-text-orange: #594430;

$text--amber: #ffad1e;
$text--danger: #ff5959;

$dropdown-shadow-color: #dbdbdb;
$symbol-today: #239cff;
$symbol-yesterday: #dadfe3;

$input-bottom-border: #eaf0ef;
$input-disabled-bg: #f7f9fa;
$input-disabled-color: #92a2b1;

$amber-color: #ffad1e;
$danger-color: #ff5959;

$active-board: $app-primary;
$tab-link: $app-info-color;
$active-shadow: #e1e1e1;

$negative: #e72b00;
$neutral: #f0d700;
$positive: #6bb437;

// solutions-article
$published-color: #4caf50;
$published-bg: #e7fbf2;
$draft-color: #ebedf0;
$draft-bg: #485866;
$show-master-bg: #284255;

// box-shadow
$lighten-box-shadow: 0 6px 14px 0 rgba(24, 50, 71, 0.05),
  0 1px 4px 0 rgba(24, 50, 71, 0.15);

$cards-box-shadow: -2px -1px 15px 4px rgba(24, 50, 71, 0.12),
  0 2px 4px 0 rgba(24, 50, 71, 0.12);
$ticket-action-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);

//solutions
$selected-folder-background: #e5f2fd;
$selected-folder-color: #3563cb;
$hovered-untranslated-background: #e4eaef;
$drafts-border-color: #d4e4f2;

$primary-box-shadow: 0 0 1px 0 rgba(24, 50, 71, 0.3),
  0 2px 6px 0 rgba(22, 29, 37, 0.05);
$primary-wrapper-box-shadow: 0 1px 4px 0 rgba(24, 50, 71, 0.05);
// warning message colors
$warning-message-background: #fef1e1;
$warning-message-border: #fddbb5;
$warning-message-icon: #e16023;
$warning-message-marker: #f8ab59;

$info-message-border: #cfd7df;
$info-message-background: #f5f7f9;
$info-message-marker: #92a2b1;

//reorder
$hover-boxshadow-bg: rgba(0, 0, 0, 0.05);

// freddy colors
$freddy-border-color: #b4e6da;
$freddy-background-color: #e1f5f0;

$proactive-success: #02b875;
$proactive-placeholder-detail-bg-color: #e5f2fd;

//toggle slider colors
$toggle-on-bg: #00a886;
$toggle-off-bg: #acb6be;

// colors for solutions-portal theme parity
$selectedCellBg: #e8f0fd;
$selectedCellBorder: #1e88e5;
$portalTableBorder: #afafaf;
//colors for cancellation
$reportsBorder: #ff3f4c;

// colors for email mailboxes
$extra-info-banner-border: #fddcb5;
$icon-active-fill: #f8ab59;
$icon-inactive-fill: #dfdfdf;
$positive-light-green-bg: #e0f5f0;
$positive-light-green-border: #b4e5d9;

// Recently viewed icon
$search-ticket-border: $positive-light-green-border;
$search-ticket-fill: #007958;
$search-ticket-background: $positive-light-green-bg;

$search-solution-border: #fddbb5;
$search-solution-fill: #c13e1b;
$search-solution-background: #fef1e1;

$search-contact-border: #bbdcfe;
$search-contact-fill: #2c5cc5;
$search-contact-background: #e5f2fd;

$search-topic-border: #d6d6d6;
$search-topic-fill: #707070;
$search-topic-background: #f7f7f7;

$sidebar-width: 300px;

$section-border-color: $input-disabled-color;
$section-header-bg: $app-border-primary;
