@import 'variables';
@import 'theme';
@import '@tailwind/base';
:host {
  font-family: $font-stack;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
