@import '../styles/variables/form-builder-style-utils.scss';
@import '../../../../../../../styles/mixins/typography';

:host {
  display: inline-block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.fb-field-lookup-root {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  .fb-field-lookup-header-label {
    width: 100%;
    font-size: $font-size-16;
    font-weight: $font-weight-600;
    color: $color-smoke-700;
    display: block;
    pointer-events: none;
    user-select: none;
  }

  .fb-field-lookup-relationship-description {
    width: 100%;
    margin-block-start: 4px;
    font-size: $font-size-12;
    color: $app-primary-black;
    display: block;
    pointer-events: none;
    user-select: none;
  }

  .fb-field-lookup-relationship-object-name {
    display: inline-block;
    font-weight: $font-weight-600;
  }

  .fb-field-lookup {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    gap: 20px;

    .fb-field-lookup-input {
      width: 25%;
    }

    .fb-field-lookup-relationship-select-container {
      height: auto;
      box-sizing: border-box;
      width: 35%;

      .fb-field-lookup-relationship-select {
        width: 100%;
        .fw-button-group__button--last {
          width: 100%;
        }
      }
    }

    .fb-field-lookup-target-select-container {
      height: auto;
      box-sizing: border-box;
      width: 40%;

      .fb-field-lookup-target-select {
        --fw-popover-max-height: 262px;
        width: 100%;
        .fw-button-group__button--last {
          width: 100%;
        }
      }
    }

    .fb-field-lookup-target-skeleton {
      --fw-skeleton-border-radius: 4px;
      padding-block-start: 24px;
      min-width: 33%;
      flex: 2 1 0;
    }
  }
}
