:host {
  display: block;
  box-sizing: border-box;
}

.co-export-modal-content {
  height: 100%;
  overflow: hidden;
}

.co-export-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-block-start: 20px;
  gap: 24px;

  .clearExportFilter {
    font-weight: $font-weight-700;
    color: $app-primary;
    cursor: pointer;
  }

  .co-export-format {
    width: 100%;
    height: auto;
    display: flex;
    gap: 24px;
    align-items: center;
    box-sizing: border-box;

    .co-export-format-label {
      width: auto;
      pointer-events: none;
      user-select: none;
      text-align: start;
      color: $color-smoke-700;
      font-size: $font-size-14;
      line-height: 20px;
      margin: 0;
    }
  }

  .co-export-field-selection {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;

    .co-export-field-header {
      width: 100%;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;

      .co-export-field-header-label {
        width: auto;
        pointer-events: none;
        user-select: none;
        text-align: start;
        color: $color-elephant-900;
        font-weight: $font-weight-600;
        font-size: $font-size-14;
        line-height: 20px;
      }

      .co-export-field-header-selected-count-label {
        width: auto;
        pointer-events: none;
        user-select: none;
        text-align: end;
        color: $color-smoke-700;
        font-size: $font-size-14;
        line-height: 20px;
      }
    }

    .co-export-field-content {
      width: 100%;
      height: auto;
      padding-inline: 0;
      padding-block: 24px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      gap: 16px;
      border-radius: 4px;
      border: 1px solid $color-smoke-100;

      .co-export-field-content-header {
        width: 100%;
        height: 32px;
        padding-inline: 24px;
        padding-block: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .co-export-field-select-all-label {
          display: inline-block;
          font-weight: $font-weight-500;
          margin: 0;
        }

        .co-export-field-search {
          width: 50%;
        }
      }

      .co-export-field-content-fields {
        width: 100%;
        height: auto;
        padding-inline: 24px;
        padding-block: 0;
        box-sizing: border-box;
        display: flex;
        gap: 32px;
        overflow-y: auto;
        max-height: calc(
          100vh - 56px - 56px - 20px - 24px - 58px - 24px - 22px - 20px - 10px -
            32px - 52px - 32px - 16px
        );

        .co-export-field-empty-search-message {
          width: 100%;
          margin-inline: 0;
          margin-block: 16px;
          pointer-events: none;
          user-select: none;
          text-align: center;

          color: $color-elephant-900;
          font-size: $font-size-14;
          font-weight: $font-weight-400;
          line-height: 24px;
        }

        .co-export-field-content-fields-column1 {
          width: calc(50% - 32px);
          height: auto;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          gap: 10px;

          &--full-width {
            width: 100%;
          }
        }

        .co-export-field-content-fields-column2 {
          width: 50%;
          height: auto;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }

  &--without-filter {
    .co-export-field-selection {
      .co-export-field-content {
        .co-export-field-content-fields {
          max-height: calc(
            100vh - 56px - 56px - 20px - 24px - 22px - 20px - 10px - 32px - 52px -
              32px - 16px
          );
        }
      }
    }
  }
}

.co-export-modal-footer {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  gap: 12px;
}
