name: Deploy preview

on:
  pull_request:
    branches: [test-gh-preview-deploy]

env:
  PR_NUMBER: ${{ github.event.pull_request.number }}

jobs:
  deploy:
    runs-on: ubuntu-20.04
    continue-on-error: true
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v1
        with:
          node-version: '16.x'

      - name: Install npm 7
        run: npm i -g npm@7

      # Installs the dependencies
      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build
        env:
          VUEPRESS_BASE: ${{ format('{0}{1}/', '/gh-preview-deploy/', env.PR_NUMBER) }}

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: master
          folder: www-dist
          target-folder: ${{ env.PR_NUMBER }}
      - name: Publish env
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: Preview environment
          message: |
            ## Preview environment
            https://kulkarni-kashyap.github.io/gh-preview-deploy/${{ env.PR_NUMBER }}/
